.page

.subcontent(ui-view autoscroll="false")
	section#introducao.page.flat
		.container
			.six.columns.offset-by-three
				h3 Introdução
				h2 Plano de Prevenção e Controle do Desmatamento na Amazônia Legal: a estratégia do governo federal de combate ao desmatamento
		.container
			.six.columns.offset-by-three.row
				p Em 2002, após anos marcados por uma certa estabilidade nos índices de desmatamento na Amazônia Legal, a taxa de devastação da floresta volta a subir de maneira dramática. Grandes obras, como o asfaltamento da BR-163, impulsionam a devastação. O que já era ruim (tendo em vista que os índices não eram baixos no período anterior), acabava de piorar. Para evitar que uma tendência de alta se consolidasse nos anos seguintes, algo precisava ser feito. 

				p Diante do quadro, o novo governo federal cria um Grupo Permanente de Trabalho Interministerial (GPTI)*, composto por 15 ministérios com políticas endereçadas à Amazônia e com a finalidade de propor e coordenar ações que visam à redução dos índices de desmatamento na região. O grupo, sob coordenação da Casa Civil da Presidência da República, inaugura uma nova etapa: pela pela primeira vez, Brasília reconhece que o desmatamento tem causas complexas e só pode ser combatido se todo o governo estiver envolvido e não apenas o Ministério do Meio Ambiente ou órgãos ambientais como o Ibama.**

				p Enfim, em 2004, em face à segunda maior alta na série histórica do índice de desmatamento, e como resultado das discussões no GPTI, o governo federal lança sua estratégia oficial de combate ao cenário na região Norte: o Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm).

			.twelve.columns.row
				iframe(src="http://cf.datawrapper.de/g8B8K/3/")

			.six.columns.offset-by-three.row
				h2 A atuação do PPCDAm

				p O Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm) foi estruturado em três eixos temáticos, que direcionam a ação governamental. São eles:

				ol
					li Ordenamento Fundiário e Territorial
					li Monitoramento e Controle Ambiental
					li Fomento às Atividades Produtivas Sustentáveis.


				p Durante a execução da primeira e segunda fases do PPCDAm (entre os anos de 2004-2008 e 2009-2011, respectivamente), importantes resultados foram alcançados. No componente Ordenamento Territorial e Fundiário, por exemplo, 25 milhões de hectares de floresta foram protegidos graças à criação de Unidades de Conservação (UCs) federais localizadas majoritariamente na frente de expansão do desmatamento. Além disso, foram criados outros 25 milhões de hectares de UCs estaduais e também algumas municipais.

				p No quesito Monitoramento e Controle, durante esse mesmo período, foram deflagradas centenas de operações de fiscalização, que resultaram no fechamento de empresas clandestinas de madeira e no desmantelamento de várias quadrilhas responsáveis por esquemas fraudulentos envolvendo recursos florestais. Houve aperfeiçoamento dos sistemas de monitoramento ambiental, o PRODES e o DETER, ambos baseados na análise de imagens via satélite. Como efeito do esforço conjunto, a taxa de desmatamento anual sofreu drástica redução, culminando, em 2012, no menor valor histórico da série de monitoramento do INPE (link para gráficos).

				p Mas em resposta às ações de controle e monitoramento, os agentes associados ao desmatamento da Amazônia (produtores de madeira, de grãos e pecuaristas) se adaptaram e, por volta de 2009, a dinâmica espacial se modificou: enquanto os grandes polígonos diminuíram sua participação no total desmatado, observou-se um aumento relativo dos pequenos polígonos em diferentes áreas da Amazônia. 

				p Essa tendência também expôs a dificuldade do governo em avançar no eixo de Fomento às Atividades Sustentáveis. O plano de transformar a BR-163 em um polo de exploração regulada de madeira fracassou e as imediações da rodovia ainda estão entre as porções com as maiores taxas de desmatamento. Além disso, a estratégia de conter os pequenos desmatamentos ocorridos dentro de assentamentos da Reforma Agrária ou no interior de unidades de conservação de uso direto não alcançou os resultados esperados, contribuindo para a persistência da devastação, ainda que em um patamar mais baixo que o de décadas anteriores.

				p É nesse contexto de mudança na dinâmica do desmatamento que a terceira fase do PPCDAm (2012-2015) se desenrola. Os desafios são prover ações condizentes com o novo cenário e dar eficácia ao eixo de Fomento às Atividades Produtivas Sustentáveis. 

			.twelve.columns.row
				iframe(src="http://cf.datawrapper.de/wHsXk/1/")

			.six.columns.offset-by-three.row

				p * Integram o GPTI:

				ul
					li Ministério do Meio Ambiente (MMA);
					li Ministério da Agricultura, Pecuária e Abastecimento (MAPA);
					li Ministério da Ciência, Tecnologia e Inovação (MCTI);
					li Ministério da Defesa (MD);
					li Ministério do Desenvolvimento Agrário (MDA);
					li Ministério do Desenvolvimento, Indústria e Comércio Exterior (MDIC);
					li Ministério da Integração Nacional (MI);
					li Ministério da Justiça (MJ);
					li Gabinete de Segurança Institucional da Presidência da República (GSI/PR);
					li Ministério das Minas e Energia (MME);
					li Ministério dos Transportes (MT);
					li Ministério do Trabalho e Emprego (MTE);
					li Ministério do Planejamento, Orçamento e Gestão (MP); 
					li Ministério das Relações Exteriores (MRE); 
					li Ministério da Fazenda (MF);
					li Ministério da Pesca e Aquicultura (MPA);
					li Secretaria de Assuntos Estratégicos da Presidência da República (SAE/PR).


				p ** http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf