article.timeline-item
	.timeline-content
		.container
			.six.columns
				header
					h2 {{item.title}}
					h3.subtitle {{item.subtitle}}
			.six.columns
				section
					p
						span(ng-repeat="content in item.contents" video-content video-in="content.in" video-out="content.out") {{content.text}}
		section#analise
			// Analise
			div(ng-show="item.slug == '2007-2008'")
				.full.analise-area.white
					.container
						.six.columns
							h3 1. Eixo Ordenamento Fundiário e Territorial
					.container.row
						.six.columns
							h4 Ação 6914 na Lei Orçamentária (LOA): Localização e proteção de povos indígenas isolados ou de recente contato
						.six.columns
							p A ação teve orçamento aprovado, em 2007, no valor de 1,45 milhões de reais – sendo que 84,5% desse montante foi, de fato, investido.

							p No ano seguinte, em 2008, os valores foram bem mais modestos: dos 172,4 mil reais aprovados pelo Congresso, 62,3 mil reais foram gastos (o equivalente a  36% do total).
					.container.row
						.six.columns
							h4 Ação 1J30 na LOA: Elaboração da base cartográfica digital da Amazônia Legal
						.six.columns
							p Em 2007, a ação teve orçamento estipulado em 8,3 milhões de reais, entretanto, o valor dispendido foi de apenas 44,4 mil reais (0,5% do estipulado originalmente). 
							p Muito mais foi investido em 2008, quando, dos 10,8 milhões de reais autorizados, 6,8 milhões foram gastos (63%). 
					.container.row
						.six.columns &nbsp;
						.six.columns
							iframe(src="http://cf.datawrapper.de/v27ak/1/")

				.clear
				.container
					.twelve.columns
						.half-right.analise-area.white
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper sapien quis leo finibus pulvinar. Sed sit amet dolor venenatis lorem scelerisque mattis a vitae ante. Quisque tincidunt scelerisque pellentesque. Pellentesque ligula leo, imperdiet quis congue ut, ornare nec risus. Vestibulum a velit velit. Sed vel lectus tincidunt, tempor lacus non, pulvinar lorem. Maecenas dignissim sem quis cursus tristique. Fusce scelerisque risus enim, vitae dapibus magna hendrerit in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec porta eu erat vitae tristique. Nulla facilisi. Pellentesque lacinia sit amet justo eu lobortis. Etiam aliquet euismod rutrum. Sed ac augue molestie, aliquam eros bibendum, gravida mi. Nullam eu vehicula diam. Nam fermentum gravida dolor et tempor.
				.full.analise-area.white
					.container
						.four.columns
							p Vellentesque ligula leo, imperdiet quis congue ut, ornare nec risus. Vestibulum a velit velit. Sed vel lectus tincidunt, tempor lacus non, pulvinar lorem. Maecenas dignissim sem quis cursus tristique. Fusce scelerisque risus enim, vitae dapibus magna hendrerit in.
						.four.columns
							p Vellentesque ligula leo, imperdiet quis congue ut, ornare nec risus. Vestibulum a velit velit. Sed vel lectus tincidunt, tempor lacus non, pulvinar lorem. Maecenas dignissim sem quis cursus tristique. Fusce scelerisque risus enim, vitae dapibus magna hendrerit in.
						.four.columns
							p Vellentesque ligula leo, imperdiet quis congue ut, ornare nec risus. Vestibulum a velit velit. Sed vel lectus tincidunt, tempor lacus non, pulvinar lorem. Maecenas dignissim sem quis cursus tristique. Fusce scelerisque risus enim, vitae dapibus magna hendrerit in.
				.clear
				.container
					.twelve.columns
						.half-left.analise-area.white
							iframe(src="http://cf.datawrapper.de/X26Df/2/")
						.half-right.analise-area
							p Vellentesque ligula leo, imperdiet quis congue ut, ornare nec risus. Vestibulum a velit velit. Sed vel lectus tincidunt, tempor lacus non, pulvinar lorem. Maecenas dignissim sem quis cursus tristique. Fusce scelerisque risus enim, vitae dapibus magna hendrerit in.