section#equipe.page.flat.single
	.line.row
		.container
			.six.columns.offset-by-five
				h1 Equipe
	.container
		.four.columns
			.row
			p Um projeto
			p
				a(href="http://infoamazonia.org" target="_blank" rel="external")
					img(src="/img/ia-black.png" alt="InfoAmazonia")
			p Com apoio
			p
				a(href="http://www.climateandlandusealliance.org/" target="_blank" rel="external")
					img(src="/img/clua.png" alt="Climate and Land Use Alliance")
		.six.columns.offset-by-one
			.row
				h2 Gustavo Faleiros
				p Gustavo Faleiros é Jornalista formado pela PUC-SP com mestrado em Política Ambiental pelo King´s College da Universidade de Londres. Trabalhou como repórter da editoria Brasil do jornal Valor Ecônomico de 2001-2004 e, entre os 2006 e 2014, atuou como correspondente em Brasília, editor do e diretor-executivo do site O Eco, onde foi responsável pelo lançamento dos projetos oecoAmazonia e o Laboratório de Inovação em Jornalismo Ambiental. Em 2012 lançou o projeto mapasColetivos em parceria com a jornalista Juliana Mori. Duas vezes bolsista Knight pelo Centro Internacional de Jornalista, atualmente coordena o InfoAmazonia e atua como secretário-geral da Earth Journalism Network
			.row
				h2 Ricardo Verdum
				p Doutor em Antropologia Social pela Universidade de Brasília (UnB), experiência em gestão e análise de políticas públicas socioambientais, livros e artigos publicados no Brasil e exterior, consultorias prestadas para FAO, ICCO, PNUD, UNESCO e GIZ.
			.row
				h2 Thiago Medaglia
				p Jornalista formado pela Universidade Metodista de São Paulo, atua como editor no site infoamazonia.org; foi editor (e é colaborador) da revista National Geographic Brasil; é coautor de cinco livros sobre meio ambiente.
			.row
				h2 Miguel Peixe
				p Designer e desenvolvedor do InfoAmazonia. Foca seu trabalho em tecnologias de engajamento social, mapeamentos colaborativos e visualização de dados. Participou do desenvolvimento do Mapa da Cultura de Fotaleza. Em parceria com a Repórter Brasil participou do projeto “Moendo Gente”, um mapa das condições de trabalho em frigoríficos brasileiros e em parceria com o Greenpeace o projeto “Lataria”, para monitorar e evidenciar acidentes e irregularidades em plataformas de petróleo na região do pré-sal.
			.row
				h2 Vitor George
				p Engenheiro Civil formado pela USP e desenvolvedor de software. Trabalhou seis anos como consultor em logística e planejamento de transportes, no Brasil e no México. Em 2008 conheceu o OpenStreetMap, o mapa livre do mundo, e desde então faz oficinas, palestras e outras atividades sobre tecnologias e dados abertos. Atualmente se dedica ao desenvolvimento de software para projetos de mapas e visualizações de dados na web, como parte da equipe do EcoLab.
			.row
				h2 Thiago Carvalhaes
				p Formado em Ciências Sociais pela Unicamp com especialização em Antropologia, coautor do livro "Vozes da Floresta", sobre a história de vida de músicos da RESEX Alto Juruá. É sócio da Grão Filmes e diretor da série sobre literatura contemporânea "Corpo do Texto". Realizou como fotógrafo e editor documentários como "Dr. Melgaço", "Como se Fosse da Família" e "100% Boliviano, Mano". 

			.row
				h2 Tobias Rodil
				p Tobias Rodil se formou em Cinema e Vídeo na PUC-RS, é sócio da Grão Filmes e vem realizando conteúdo audiovisual e intervenções urbanas com vídeo dentro de um estudo sobre narrativas. Dirigiu curta-metragens e realiza trabalhos audiovisuais mesclado design, animação e vídeo.

		.twelve.columns
			h2 Imagens

		.four.columns
			p 
				a(href="https://www.youtube.com/watch?v=ykE-c--guLg" rel="external" target="_blank") "Eyes in Space"
				| , 2013
				br
				| Center For International Forestry Research (CIFOR)


			p 
				a(href="https://www.youtube.com/watch?v=7UInOnSALsY" rel="external" target="_blank") "Conheça o Túnel de Vento, ferramenta que acelera obra de rodovia do PAC 2 (MT)"
				| , 22/04/2013

			p Som ambiente do projeto 
				a(href="http://vozesdafloresta.wordpress.com/" rel="external" target="_blank") "Vozes da Floresta"
				| , 2010
				br
				| Captação de Roberto Rezende e Thiago Carvalhaes

			h3 1960

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgi7ZTkqVqLPQkMd-B0wwPzOJPoses0m9sSIwmHaySjqF0.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Belém Brasília: rodovia da unidade nacional"
				| , 1962
				br
				| Arquivo Nacional/Zappiens.br

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgiRIMLAbsJpxCSdC9O0VeXr7dHoffTEt8h8EMM_qtup_U.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Cinejornal Informativo n.147"
				| , 1969
				br
				| Arquivo Nacional/Zappiens.br

			h3 1974

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgiKdW90rULe96oOIdp6_M0Vq0UPTKPaFvbS-KSE0DwPIY.&idRepositorio=0&modelo=0" rel="external" target="_blank") "A Transamazônica"
				| , 1970
				br
				| Arquivo Nacional/Zappiens.br

			h3 1980

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgiBq99EyMg1AlIQxY0rCNeasp16W8Bho4l8FAz5fJ0WTc.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Brasil Hoje n.176"
				| , 1976
				br
				| Arquivo Nacional/Zappiens.br

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgir0iXkwrQ_JBk6xwgf8ry7wdGJase-cmb6gNkHxvvsU8.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Brasil Hoje n.253"
				| , 1978
				br
				| Arquivo Nacional/Zappiens.br

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgiGLO2DwkN2qhWpUmIqUtO9UxM_wWRaeNJcSgt9KDCy0Q.&idRepositorio=0&modelo=0" rel="external" target="_blank") "A Integração da Amazônia"
				| , 1974
				br
				| Arquivo Nacional/Zappiens.br

			h3 1988

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgih2Ruw_ELEy3IPZPrMWrcOslcFgVY6a_sfIRqY7eNS-Q.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Manobras do exército"
				| , 1971
				br
				| Arquivo Nacional/Zappiens.br

			p
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgi7IShB986nsXvwcz8Y0z-FhuaASMgJHco7zxaGEUcuYo.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Cinejornal Informativo n.46"
				| , 1966
				br
				| Arquivo Nacional/Zappiens.br

			p 
				a(href="http://www.zappiens.br/portal/VisualizarVideo.do?_InstanceIdentifier=0&_EntityIdentifier=cgiSFLomia2YKvq2pwg5uGXmG5b9F2TJgy6dOdpUllb60E.&idRepositorio=0&modelo=0" rel="external" target="_blank") "Brasil Hoje n.165"
				| , 1976
				br
				| Arquivo Nacional/Zappiens.br

			p Imagens do documentário "Chico Mendes - A Voz da Amazônia", 1989
				br
				| Miranda Smith, Miranda Productions, Inc.

			p Fotografias de Chico Mendes, 1987-88
				br
				| Miranda Smith, Miranda Productions, Inc.

			h3 1989
			
			p 
				a(href="https://www.youtube.com/watch?v=SbU7ilpALpg" rel="external" target="_blank") "Saiba Mais Sobre as Atribuições do Ibama - STJ Cidadão"
				| , 2012
				br
				| Superior Tribunal de Justiça (STJ)

			p
				a(href="https://www.youtube.com/watch?v=O84-zTgkICo" rel="external" target="_blank") "Operação do Ibama desmonta acampamento de madeireiros no Pará"
				| , 12/06/2013
				br
				| TVNBR

			p Fotografias do Acre, desmatamento, protesto organizado pela Igreja e seringueiros contra o desmatamento causado por pecuaristas, 1989
				br
				| UN Photo/Pernaca Sudhakaran

		.four.columns

			h3 1990

			p 
				a(href="https://www.youtube.com/watch?v=jdNIl3YfPTQ") "Real Completa 20 anos"
				| , 01/07/2014
				br
				| TV Brasil

			p
				a(href="http://radioagencianacional.ebc.com.br/economia/audio/2014-07/plano-real-completa-20-anos-e-consumidores-recordam-hiperinflacao" rel="external" target="_blank") "Plano Real completa 20 anos e consumidores recordam hiperinflação"
				| , 01/07/2014
				br
				| Radioagência Nacional

			p 
				a(href="http://radioagencianacional.ebc.com.br/materia/2011-05-03/infla%C3%A7%C3%A3o-e-suas-consequ%C3%AAncias" rel="external" target="_blank") "Inflação e suas consequências"
				| , 03/05/2011
				br
				| Radioagência Nacional

			p 
				a(href="http://radioagencianacional.ebc.com.br/materia/2009-07-01/plano-real-completa-15-anos" rel="external" target="_blank") "Plano Real completa 15 anos"
				| , 01/07/2009
				br
				| Radioagência Nacional

			p 
				a(href="https://www.youtube.com/watch?v=LzYV-ONx_SI" rel="external" target="_blank") Imagens de propaganda contra desmatamento na Amazônia
				| , 1990

			h3 1992

			p 
				a(href="https://www.youtube.com/watch?v=82egNcPzS_k" rel="external" target="_blank") "Vandana Shiva - Justiça Social - Interprogramas Rio+20"
				| , 2012
				br
				| TV Brasil

			p 
				a(href="https://www.youtube.com/watch?v=ku2Owe4NoZg" rel="external" target="_blank") "Kika de Bessen - Orixás e Natureza - Interprogramas Rio+20"
				| , 2012
				br
				| TV Brasil

			p Fotografias da Eco 92, 1992
				br
				| UN Photo/Michos Tzovaras

			h3 1995

			p 
				a(href="https://www.youtube.com/watch?v=jdNIl3YfPTQ") "Real Completa 20 anos"
				| , 01/07/2014
				br
				| TV Brasil

			h3 1998

			p Imagem de reportagem da TV Band sobre o incêndio do século em Roraima, 1998

			p 
				a(href="https://www.youtube.com/watch?v=bmHIvMuHQmc" rel="external" target="_blank") "Oded Grajew - Cidade - Interprogramas Rio+20"
				| , 2012  
				br
				| TV Brasil

			p 
				a(href="https://www.youtube.com/watch?v=VB9uJe8UI08" rel="external" target="_blank") "Desmatamento - Brendan Mackey - Interprogramas Rio+20"
				| , 2012
				br
				| TV Brasil

			h3 2003
			
			p 
				a(href="http://radioagencianacional.ebc.com.br/sites/radioagencianacional.ebc.com.br/files/audios/2009/01/13/13-01-09%20-%20JULIANA%20MAYA-ACORDO-FUNAI%20-%20ra%20joana.mp3" rel="external" target="_blank") "Funai e DNIT fazem acordo de cooperação para minimizar impactos causados pela pavimentação da BR 163"
				| , 03/01/2009
				br
				| Radioagência Nacional

			p 
				a(href="https://www.youtube.com/watch?v=7UInOnSALsY" rel="external" target="_blank") "Conheça o Túnel de Vento, ferramenta que acelera obra de rodovia do PAC 2 (MT)"
				| , 22/04/2013

			h3 2004

			p 
				a(href="https://www.youtube.com/watch?v=cBX8DnNza-4" rel="external" target="_blank") Institucional "INPE e suas Aplicações"
				| , 2011 
				br
				| INPE - MCT

			p Imagens do sistema DETER, satélite Modis, de 2004

		.four.columns

			h3 2005

			p 
				a(href="http://radioagencianacional.ebc.com.br/materia/2005-03-06/especial-1-conhe%C3%A7-mais-de-quem-foi-mission%C3%A1ria-dorothy-stang-na-reportagem-especi" rel="external" target="_blank") "ESPECIAL 1: conheça mais de quem foi a missionária Dorothy Stang na reportagem especial de Christiane Peres"
				| , 06/03/2005
				br
				| Radioagência Nacional

			p 
				a(href="https://www.youtube.com/watch?v=A5CqG_oKNpY" rel="external" target="_blank") "Condenado o mandante do assassinato da missionária americana Dorothy Stang"
				| , 2013
				br
				| TV Brasil

			p Fotografias: centenas de pessoas se reúnem na Praça dos Três Poderes para relembrar, no dia em que faria 74 anos, a luta da missionária Dorothy Stang, 07/06/2005
				br
				| Roosewelt Pinheiro/ABr

			h3 1a Fase do PPCDAm (2007-2008)
			
			p Imagens do 
				a(href="https://www.google.com/maps/views/u/0/view/streetview/amazon/rio-negro?gl=us" rel="external" target="_blank") Google Park View
				| , em Rio Negro, Amazônia. 
				a(href="https://www.youtube.com/watch?v=BF6XmS5vQvk" rel="external" target="_blank") O projeto surgiu de uma parceria do ICMBio com o Google
				| . 

			p Som ambiente do projeto 
				a(href="http://vozesdafloresta.wordpress.com/" rel="external" target="_blank") "Vozes da Floresta"
				| , 2010
				br
				| Captação de Roberto Rezende e Thiago Carvalhaes

			h3 2a Fase do PPCDAm (2009-2011)

			p Fotografias da Conferência de Copenhagen, COP15, 2009
				br
				| Johannes Jansson/norden.org
				br
				| Kris Krüg

			h3 3a Fase do PPCDAm (2012-2015)

			p Imagens do documentário 
				a(href="https://www.youtube.com/watch?v=_NkRKylAkHk" rel="external" target="_blank") "Amazônia Pública: Rio em Fúria"
				| , 2012
				br
				| Agência Pública

			h3 2020
			
			p Discurso do então presidente do Brasil Luíz Inácio Lula da Silva durante a Conferência de Copenhagen, 2009
				br
				| TVNBR

			p Fotografias do desmatamento na Amazônia
				br
				| Leonardo F. Freitas

			p Trilha: Mahler - Symphony no. 5, I. Trauermarsch
				br
				| Jason Weinberger & The Waterloo-Cedar Falls Symphony Orchestra