section#equipe.page.flat.single
	.line.row
		.container
			.six.columns.offset-by-five
				h1 Equipe
	.container
		.four.columns
			.row
			p Um projeto
			p
				a(href="http://infoamazonia.org" target="_blank" rel="external")
					img(src="/img/ia-black.png" alt="InfoAmazonia")
			p Com apoio
			p
				a(href="http://www.climateandlandusealliance.org/" target="_blank" rel="external")
					img(src="/img/clua.png" alt="Climate and Land Use Alliance")
		.six.columns.offset-by-one
			.row
				h2 Gustavo Faleiros
				p Gustavo Faleiros é Jornalista formado pela PUC-SP com mestrado em Política Ambiental pelo King´s College da Universidade de Londres. Trabalhou como repórter da editoria Brasil do jornal Valor Ecônomico de 2001-2004 e, entre os 2006 e 2011, atuou como correspondente em Brasília e editor do site O Eco, onde foi responsável pelo lançamento dos projeto oecoAmazonia e Geonotícias. Em 2012 lançou o projeto mapasColetivos com apoio do Instituto Claro e parceria com a jornalista Juliana Mori.  Atualmente, como bolsista Knight pelo ICFJ trabalha no portal de dados InfoAmazonia, que reune mapas interativos com reportagens nos 9 países da floresta tropical.
			.row
				h2 Ricardo Verdum
				p Doutor em Antropologia Social pela Universidade de Brasília (UnB), experiência em gestão e análise de políticas públicas socioambientais, livros e artigos publicados no Brasil e exterior, consultorias prestadas para FAO, ICCO, PNUD, UNESCO e GIZ.
			.row
				h2 Thiago Medaglia
				p Jornalista formado pela Universidade Metodista de São Paulo, atua como editor no site infoamazonia.org; foi editor (e é colaborador) da revista National Geographic Brasil; é coautor de cinco livros sobre meio ambiente.
			.row
				h2 Miguel Peixe
				p Designer e desenvolvedor do InfoAmazonia. Foca seu trabalho em tecnologias de engajamento social, mapeamentos colaborativos e visualização de dados. Participou do desenvolvimento do Mapa da Cultura de Fotaleza. Em parceria com a Repórter Brasil participou do projeto “Moendo Gente”, um mapa das condições de trabalho em frigoríficos brasileiros e em parceria com o Greenpeace o projeto “Lataria”, para monitorar e evidenciar acidentes e irregularidades em plataformas de petróleo na região do pré-sal.
			.row
				h2 Vitor George
				p Engenheiro Civil formado pela USP e desenvolvedor de software. Trabalhou seis anos como consultor em logística e planejamento de transportes, no Brasil e no México. Em 2008 conheceu o OpenStreetMap, o mapa livre do mundo, e desde então faz oficinas, palestras e outras atividades sobre tecnologias e dados abertos. Atualmente se dedica ao desenvolvimento de software para projetos de mapas e visualizações de dados na web, como parte da equipe do EcoLab.