article.timeline-item
	.timeline-content
		.container
			.twelve.columns
				header
					h2 {{item.year}}
				section
					p
						span(ng-repeat="content in item.contents") {{content.text}} 

section#introducao.page
	.container
		.six.columns
			p Em 2002, após anos marcados por uma certa estabilidade nos índices de desmatamento na Amazônia Legal, a taxa de devastação da floresta volta a subir de maneira dramática. Grandes obras, como o asfaltamento da BR-163, impulsionam a devastação. O que já era ruim (tendo em vista que os índices não eram baixos no período anterior), acabava de piorar. Para evitar que uma tendência de alta se consolidasse nos anos seguintes, algo precisava ser feito. 

			p Diante do quadro, o novo governo federal cria um Grupo Permanente de Trabalho Interministerial (GPTI)*, composto por 15 ministérios com políticas endereçadas à Amazônia e com a finalidade de propor e coordenar ações que visam à redução dos índices de desmatamento na região. O grupo, sob coordenação da Casa Civil da Presidência da República, inaugura uma nova etapa: pela pela primeira vez, Brasília reconhece que o desmatamento tem causas complexas e só pode ser combatido se todo o governo estiver envolvido e não apenas o Ministério do Meio Ambiente ou órgãos ambientais como o Ibama.**

			p Enfim, em 2004, em face à segunda maior alta na série histórica do índice de desmatamento, e como resultado das discussões no GPTI, o governo federal lança sua estratégia oficial de combate ao cenário na região Norte: o Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm). 