section#metodologia.page.flat
	.container
		.six.columns
			h1 O PPCDAm e o Orçamento Público Federal 
			h2 Nota explicativa das principais decisões metodológicas

			p.author por Ricardo Verdum

			p Nesta nota explicamos as principais decisões metodológicas adotas no processo de coleta de dados orçamentários e financeiros relacionados com a implementação do Plano de Ação para Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm), no período de 2007 a 2014.

			p
				| A primeira decisão foi onde buscar os dados. Decidiu-se recorrer ao 
				a(href="http://www12.senado.leg.br/orcamento/sigabrasil" target="_blank" rel="external") Siga Brasil
				| , sistema de informações sobre orçamento público desenvolvido pelo Senado Federal, que integra em um único repositório as informações constantes das bases de dados do Sistema Integrado de Administração Financeira do Governo Federal (SIAFI), Sistema Integrado de Planejamento e Orçamento (SIOP), Sistema de Elaboração da Lei Orçamentária (SELOR), Sistema de Informação das Estatais (SIEST), Sistema de Gestão de Convênios e Contratos de Repasse do Governo Federal (SICONV), dentre outras.

			p O passo seguinte foi decidir por onde iniciar o levantamento – se pelo ano de 2007 ou por anos mais recentes. Achou-se por bem iniciar pelos anos que compreendem a terceira fase do Plano, que, por sua vez, coincide com o período do atual Plano Plurianual (2012-2015), como é chamado o instrumento de planejamento governamental de médio prazo, previsto na Constituição Federal, e que estabelece diretrizes, objetivos e metas da Administração Pública para um período de quatro anos. Em outras palavras, o Plano Plurianual determina onde e como o orçamento público será investido.

			p Dado o grande número de atividades elencadas em cada um dos Eixos do PPCDAm, optou-se por incluir em nossa análise somente aquelas que consideramos estratégicas aos objetivos do Plano. Feito isso, nos deparamos com um desafio que transpassou todo o período de análise: como estabelecer a conexão entre as atividades que integram os eixos do PPCDAm e as ações dos Planos Plurianuais (PPA). Em nosso recorte, é importante dizer, não foi possível abarcar todas as atividades do PPCDAM: em média, atingimos xx% das ações definidas no Plano, o que consideramos ser uma medida segura do direcionamento dos gastos públicos no combate ao desmatamento.

			p Enquanto o documento que orientou a primeira fase do PPCDAM (2004-2008) foi suficientemente generoso nesse sentido, indicando as fontes de recurso no PPA para cada uma das suas atividades, o mesmo não sucedeu com os documentos da fase subsequente (2009-2011). Foi necessário fazer um imenso esforço – inclusive, de imaginação – para estabelecer conexões entre as atividades e ações desses Planos.

			p No que diz respeito à atual fase do PPCDAm (2012-2015), tivemos acesso à uma planilha com a relação entre as ações do PPCDAm e o seu rebatimento no PPA, fornecida pelo Departamento de Políticas de Combate ao Desmatamento do Ministério do Meio Ambiente (DPCD/MMA).

			p Outro desafio enfrentado na medida do possível (e o “possível” aqui pode ser compreendido como o limite de transparência da informação disponível nos sistemas oficiais de controle consultados) foi estabelecer que percentual do montante autorizado e gasto em uma determinada ação do PPA estava relacionada com o PPCDAM. Para determinadas ações isso foi fácil, como, por exemplo, nas ações que pertencem ao Programa 0496 do PPA 2008-2011, intitulado “Informações Integradas para Proteção da Amazônia”; ou o Programa 2036 do PPA 2012-2015, intitulado “Florestas, Prevenção e Controle do Desmatamento e dos Incêndios”. Noutros casos, os números que constam das tabelas são os números globais do recurso gasto, e onde podem estar contidos também gastos realizados em outros biomas.

			p Não poderíamos concluir esta nota deixando de chamar a atenção para o seguinte: se no que se refere ao monitoramento governamental do desmatamento da Amazônia houve avanços importantes ao longo da última década, o esforço de análise que empreendemos nos últimos meses mostrou haver uma significativa fragilidade nos registros governamentais relacionados com a execução financeira do PPCDAm. E mais: fica claro que o governo deve revisar seus procedimentos gerenciais visando dar maior transparência pública e controle social às contas do Plano. Em resumo, o governo federal precisa criar mecanismos de controle dos gastos públicos no combate ao desmatamento e a sociedade precisa ser colocada a par da destinação destes recursos financeiros.

