section#timeline
	#timeline-nav
		.container
			.twelve.columns
				nav
					a.active(href="javascript:void(0);") 1974
					a(href="javascript:void(0);") 1980
					a(href="javascript:void(0);") 1990
					a(href="javascript:void(0);") 1991
					a(href="javascript:void(0);") 1995
					a(href="javascript:void(0);") 2003
					a(href="javascript:void(0);") 2004
					a(href="javascript:void(0);") 2007
					a(href="javascript:void(0);") 2008
					a(href="javascript:void(0);") 2009
					a(href="javascript:void(0);") 2011
					a(href="javascript:void(0);") 2012
					a(href="javascript:void(0);") 2013
					a(href="javascript:void(0);") 2014
					a(href="javascript:void(0);") 2015
					a(href="javascript:void(0);") 2020

	article.timeline-item(style="background-image:url(/img/1974_transamazonica.jpg)")
		.timeline-content
			.container
				.twelve.columns
					header
						h2 1974
					section
						p A rodovia Transamazônica (BR-230) é inaugurada em agosto. A obra resulta em uma estrada com 4.073 quilômetros de extensão (até hoje, mais da metade sem asfalto) e dá início à era moderna do desmatamento na Amazônia.
	article.timeline-item(style="background-image:url(/img/1974_transamazonica.jpg)")
		.timeline-content
			.container
				.twelve.columns
					header
						h2 1974
					section
						p A rodovia Transamazônica (BR-230) é inaugurada em agosto. A obra resulta em uma estrada com 4.073 quilômetros de extensão (até hoje, mais da metade sem asfalto) e dá início à era moderna do desmatamento na Amazônia.
	article.timeline-item(style="background-image:url(/img/1974_transamazonica.jpg)")
		.timeline-content
			.container
				.twelve.columns
					header
						h2 1974
					section
						p A rodovia Transamazônica (BR-230) é inaugurada em agosto. A obra resulta em uma estrada com 4.073 quilômetros de extensão (até hoje, mais da metade sem asfalto) e dá início à era moderna do desmatamento na Amazônia.