article.timeline-item
	.timeline-content
		.container
			.nine.columns
				header.timeline-header
					h2 {{item.title}}
					h3.subtitle {{item.subtitle}}
				section.timeline-contents(ng-show="showInfo")

					p
						span(ng-repeat="(index, content) in item.contents" video-content video-in="content.in" video-out="content.out" last-content="(index == item.contents.length-1)") {{content.text}}

					p.next(ng-show="readyForNext")
						a(href="{{nextUrl}}") Clique aqui para continuar