section#timeline(ng-controller="TimelineController")
	//
		#timeline-nav.nav1
			.container
				.twelve.columns
					nav
						a(ng-repeat="item in data" href="javascript:void(0);" ng-class="{active:item.active}") {{item.year}}

	#timeline-nav.nav
		.container
			.twelve.columns
				nav.pre
					.nav-content
						a(href="javascript:void(0);" ng-class="{active:item.active}") 1974
						a(href="javascript:void(0);" ng-class="{active:item.active}") 1980
						a(href="javascript:void(0);" ng-class="{active:item.active}") 1990
						a(href="javascript:void(0);" ng-class="{active:item.active}") 1991
						a(href="javascript:void(0);" ng-class="{active:item.active}") 1995
						a(href="javascript:void(0);" ng-class="{active:item.active}") 2003
						a(href="javascript:void(0);" ng-class="{active:item.active}") 2004
				nav.current
					.nav-content
						a(href="javascript:void(0);" ng-class="{active:item.active}") Análise dos tempos atuais
				nav.post
					.nav-content
						a(href="javascript:void(0);" ng-class="{active:item.active}") 2015
						a(href="javascript:void(0);" ng-class="{active:item.active}") 2020


	article#home.timeline-item(style="background-image:url(/img/1974_transamazonica.jpg);")
		.timeline-content
			.container
				.twelve.columns
					header
						h1 Gastando a Amazônia
					section
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ipsum et est rutrum vestibulum nec nec libero. Praesent commodo nulla sit amet aliquet suscipit. Nam urna dui, luctus ut massa vel, bibendum fermentum lacus. Suspendisse suscipit imperdiet risus, eget lacinia nunc viverra sit amet. Donec porta ullamcorper libero quis ullamcorper.

	//
		article.timeline-item(ng-repeat="item in data" style="background-image:url({{item.media.url}})")
			.timeline-content
				.container
					.twelve.columns
						header
							h2 {{item.year}}
						section
							p {{item.content}}