section#timeline(ng-controller="TimelineController")
	#timeline-nav
		.container
			.twelve.columns
				nav
					a(ng-repeat="item in data" href="javascript:void(0);" ng-class="{active:item.active}") {{item.year}}

	article.timeline-item(ng-repeat="item in data" style="background-image:url({{item.media.url}})")
		.timeline-content
			.container
				.twelve.columns
					header
						h2 {{item.year}}
					section
						p {{item.content}}