.yt-audio
	.controllers
		a.icon-play(href="javascript:void(0);" ng-click="play()" ng-hide="playing" title="Tocar")
		a.icon-pause(href="javascript:void(0);" ng-click="pause()" ng-show="playing" title="Pausar")
	youtube-video(player-id="audio-{{id}}" video-id="id")
	.description
		h3 {{title}}
		p(ng-show="content") {{content}}