script.
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', "UA-57537745-2"]);
	_gaq.push(['_setDomainName', 'desmatamento.infoamazonia.org']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900,700')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic')
