head
	title InfoAmazonia: A Política do Desmatamento
	meta(name="viewport" content="width=device-width,initial-scale=1.0")
	meta(name="description" content="A estratégia e o orçamento do governo no combate à destruição das florestas. Um olhar em perspectiva da era moderna do desmatamento revela o tamanho do estrago e aponta os sucessos e as falhas da estratégia oficial de combate à devastação da Amazônia brasileira")
	meta(name="author" content="InfoAmazonia")
	meta(name="keywords" content="política,orçamento,desmatamento,amazonia,ppcdam,data journalism,infoamazonia")
	meta(property="og:image" content="http://desmatamento.infoamazonia.org/img/thumb.png")
	meta(property="og:title" content="InfoAmazonia: A Política do Desmatamento")
	meta(property="og:type" content="article")
	meta(property="og:url" content="http://desmatamento.infoamazonia.org/")
	meta(name="google-translate-customization" content="4410438795872db1-bc25e5b82183ec22-gf6ce9ed0a5f52569-1d")
	link(rel="shortcut icon" href="http://desmatamento.infoamazonia.org/img/favicon.ico" type="image/x-icon")
	link(rel='stylesheet', href='/css/base.css')
	link(rel='stylesheet', href='/css/skeleton.css')
	link(rel='stylesheet', href='/css/app.css')
	script(type='text/javascript', src='https://www.youtube.com/iframe_api')
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(type='text/javascript', src='/vendor.js')
	script(type='text/javascript', src='/app.js')
	script.
		var $buoop = {c:2}; function $buo_f(){ var e = document.createElement("script"); e.src = "//browser-update.org/update.js"; document.body.appendChild(e); }; try { document.addEventListener("DOMContentLoaded", $buo_f,false)} catch(e){window.attachEvent("onload", $buo_f)}