head
	title InfoAmazonia: A Política do Desmatamento
	meta(name="viewport" content="width=device-width,initial-scale=1.0")
	meta(name="description" content="A História e a Política do Desmatamento no Brasil. Um olhar em perspectiva da era moderna do desmatamento revela o tamanho do estrago e aponta os sucessos e as falhas da estratégia oficial de combate à devastação da Amazônia brasileira")
	meta(name="author" content="InfoAmazonia")
	meta(name="keywords" content="política,orçamento,desmatamento,amazonia,infoamazonia")
	meta(property="og:image" content="http://orcamento.infoamazonia.org/img/thumb.png")
	meta(property="og:title" content="InfoAmazonia: A Política do Desmatamento")
	meta(property="og:type" content="article")
	meta(property="og:url" content="http://desmatamento.infoamazonia.org/")
	link(rel='stylesheet', href='/css/base.css')
	link(rel='stylesheet', href='/css/skeleton.css')
	link(rel='stylesheet', href='/css/app.css')
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(type='text/javascript', src='/vendor.js')
	script(type='text/javascript', src='/app.js')