doctype html
html(lang='pt-BR')
	include includes/head
	body(ng-controller="SiteController")
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=684842854918331&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.video-container
			youtube-video(player-id="video" video-id="videoId" player-vars="videoVars" player-width="'100%'" player-height="'100%'")

		header#masthead(ng-class="{middle:!initialized}")
			.container
				.twelve.columns
					h2
						a(href="http://www.infoamazonia.org/")
							img(src="/img/ia-white.png" alt="InfoAmazonia") 
					h1
						a(ui-sref="home") Gastando a Amazônia
					section
						p Quanto dinheiro é gasto pelo governo federal para preservar a Amazônia? Onde os recursos são investidos? Os valores são suficientes?

						p Um olhar em perspectiva da era moderna do desmatamento revela o tamanho do estrago e aponta os sucessos e as falhas da estratégia oficial de combate à devastação da Amazônia brasileira

						p(ng-hide="initialized")
							a.start-timeline(href="javascript:void(0);" ng-click="init()") Comece a navegar pela linha do tempo

					nav(ng-show="initialized")
						a(ui-sref="equipe") Equipe
						a(href="javascript:void(0);" ng-click="toggleMute()" ng-class="{'icon-mute':mute,'icon-volume':!mute}")
							.tip(ng-hide="mute") Desativar áudio e pular introduções automaticamente
							.tip(ng-show="mute") Ativar áudio e exibir introduções

		//a.play-video.icon-play(href="javascript:void(0);" ng-click="init()")

		section#content(ui-view, autoscroll='false')

		#timeline-nav.nav(ng-class="{initialized:initialized || navigated}")
			.container
				.twelve.columns
					nav.pre
						.nav-content
							a(ui-sref="timeline({year: '1960'})") 1960
							a(ui-sref="timeline({year: '1974'})") 1974
							a(ui-sref="timeline({year: '1980'})") 1980
							a(ui-sref="timeline({year: '1988'})") 1988
							a(ui-sref="timeline({year: '1989'})") 1989
							a(ui-sref="timeline({year: '1990'})") 1990
							a(ui-sref="timeline({year: '1992'})") 1992
							a(ui-sref="timeline({year: '1995'})") 1995
							a(ui-sref="timeline({year: '1998'})") 1998
							a(ui-sref="timeline({year: '2003'})") 2003
							a(ui-sref="timeline({year: '2004'})") 2004
							a(ui-sref="timeline({year: '2005'})") 2005
					nav.current
						.nav-content
							a.label(ui-sref="analise") Conheça nossa análise
							.sub-nav
								.pages
									a(ui-sref="analise") Introdução
								.timeline
									a(ui-sref="analise.timeline({year: '2007-2008'})") 1ª fase
										span.tip
											span.title Primeira fase do PPCDAm 
											span.year 2007-2008
									a(ui-sref="analise.timeline({year: '2009-2011'})") 2ª fase
										span.tip
											span.title Segunda fase do PPCDAm 
											span.year 2009-2011
									a(ui-sref="analise.timeline({year: '2012-2014'})") 3ª fase
										span.tip
											span.title Terceira fase do PPCDAm 
											span.year 2012-2014
								.pages
									a(ui-sref="analise.metodologia") Metodologia
									a(ui-sref="analise.mapa") Mapa
					nav.post
						.nav-content
							//
								a(ui-sref="timeline({year: '2015'})") 2015
							a(ui-sref="timeline({year: '2020'})") 2020

		footer#mastfoot
			.footer-content
				.container
					.twelve.columns

		#loading(loading-status-message='loading-status-message', ng-class='{active: loads.length}')
		.loading-message

		include includes/foot
