doctype html
html(lang='pt-BR')
	include includes/head
	body(ng-controller="SiteController")
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=684842854918331&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		//
			header#masthead
				.container
					.twelve.columns
						h1
							a(href="/")
								span Monitor de Gastos

		.video-container
			youtube-video(player-id="video" video-id="videoId" player-vars="videoVars" player-width="'100%'" player-height="'100%'")

		header#masthead
			.container
				.twelve.columns
					h1
						a(href="/") Gastando a Amazônia
					section
						p Uma jornada pela história do desmatamento moderno

		a.play-video.icon-play(href="javascript:void(0);" ng-click="init()")

		section#content(ui-view, autoscroll='false')

		#timeline-nav.nav
			.container
				.twelve.columns
					nav.pre
						.nav-content
							a(href="/timeline/1960") 1960
							a(href="/timeline/1974") 1974
							a(href="/timeline/1980") 1980
							a(href="/timeline/1988") 1988
							a(href="/timeline/1989") 1989
							a(href="/timeline/1990") 1990
							a(href="/timeline/1991") 1991
							a(href="/timeline/1995") 1995
							a(href="/timeline/1998") 1998
							a(href="/timeline/2003") 2003
							a(href="/timeline/2004") 2004
							a(href="/timeline/2005") 2005
					nav.current
						.nav-content
							a(href="/analise") Análise dos tempos atuais
							.sub-nav
								.pages
									a(href="/analise/introducao") Introdução
								.timeline
									a(href="/analise/2007") 2007
									a(href="/analise/2008") 2008
									a(href="/analise/2009") 2009
									a(href="/analise/2011") 2011
									a(href="/analise/2012") 2012
									a(href="/analise/2013") 2013
									a(href="/analise/2014") 2014
					nav.post
						.nav-content
							a(href="/timeline/2015") 2015
							a(href="/timeline/2020") 2020

		footer#mastfoot

		#loading(loading-status-message='loading-status-message', ng-class='{active: loads.length}')
		.loading-message

		include includes/foot
