div.page.flat
	.full.analise-area.white
		.container.row
			.six.columns.offset-by-three
				h3 Conclusão
				h2 Quanto dinheiro é gasto pelo governo federal para preservar a Amazônia?
				p Gráfico

		.container.row
			.six.columns.offset-by-three
				h2 A comparação por eixo entre fases do PPCDAm

				p Ao comparar os gastos globais por eixo do PPCDAm, é possível compreender a lógica do poder público na distribuição dos recursos destinados a combater o desmatamento ilegal na Amazônia. Dessa forma, as prioridades ficam claras, assim como as lacunas e a flutuabilidade dos interesses.

				p Como o PPCDAm não tem autoridade orçamentária (o orçamento federal é não obrigatório), a diferença entre o valor autorizado e o gasto ocorre porque o governo tem diversos objetivos em vista, como pagar dívidas, desonerar a indústria de impostos, financiar o setor empresarial (muitas vezes com juros bastante baixos) mediante repasse do Tesouro Nacional para o BNDES, entre outros. 
					span(yt-audio video-id="EfXDh6KlugM" title="Mauro Oliveira Pires" content='"A Amazônia, que já é muito urbana, precisa de soluções sociais e econômicas"') As necessidades relativas à preservação da Amazônia e ao desenvolvimento sustentável da região, dessa forma, deixam de ser atendidas em função de outras prioridades.
					
		.container.row
			.six.columns.offset-by-three
				h2 Eixo Ordenamento Fundiário e Territorial

				p Ao longo de todo o período compreendido pela nossa análise, o eixo Ordenamento consumiu 1,25 bilhão de reais, sendo que, ao final dos três primeiros anos da Terceira Fase, haviam sido gastos 206 milhões de reais. 

		.container.row
			.twelve.columns
				p Orçamento x despesas realizadas, no eixo Ordenamento 2007-2014
				iframe(src="http://cf.datawrapper.de/NHZf1/1/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400")

		.container.row
			.six.columns.offset-by-three
				p Ao final dos dois últimos anos da Primeira Fase do PPCDAm, foram gastos 336,4 milhões de reais.
				p Na Segunda Fase, a quantia liquidada foi de 713 milhões de reais.
				p Por fim, durante os primeiros três anos da Terceira Fase, gastaram-se 206 milhões de reais.
				p É bastante questionavél, no componente Ordenamento (sobretudo na Terceira Fase), o índice de execução baixíssimo, o que demonstra a falta de prioridade para esse eixo. Em nossa opinião, um equívoco, pois o ordenamento fundiário é essencial para o combate ao desmatamento na Amazônia. A ampla disponibilidade de terra sem destinação e a gestão insuficiente das UCs e das Terras Indígenas são um convite à grilagem e ao desmatamento. Depois, é chorar pelo leite derrado.

		.container.row
			.six.columns.offset-by-three
				h2 Eixo Monitoramento e Controle Ambiental

				p Entre os anos de 2007 e 2014, o eixo consumiu um total de 1,6 bilhão de reais.

		.container.row
			.twelve.columns
				p Orçamento x despesas realizadas, no eixo Monitoramento 2007-2014
				iframe(src="http://cf.datawrapper.de/ZtXJs/1/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400")

		.container.row
			.six.columns.offset-by-three
				p Nos dois últimos anos da Primeira Fase, foram liquidados 331,6 milhões de reais.
				p Ao longo de toda a Segunda Fase do PPCDAm, gastaram-se 852,3 milhões de reais.
				p Já nos três primeiros anos da Terceira Fase do PPCDAm, o valor liquidado foi de 477,3 milhões de reais.
				p De fato, Monitoramento e o Controle foi o eixo de maior desempenho no PPCDAm, tal como assinalado por outras avaliações, como a que foi realizada pela Cepal, Ipea e GIZ. Embora seja fundamental garantir uma boa execução do eixo, os especialistas advertem que apenas comando e controle não conseguirão acabar com o desmatamento no longo prazo. Isso ficou evidenciado em 2013, quando a taxa de desmate sofreu uma alta repentina e preocupou a todos.

		.container.row
			.six.columns.offset-by-three
				h2 Eixo Fomento às Atividades Sustentáveis

				p O número absoluto do dinheiro liquidado entre 2007 e 2014 é muito maior do que os valores dos dois outros eixos, além de bastante expressivo: 5,2 bilhões de reais.

		.container.row
			.twelve.columns
				p Orçamento x despesas realizadas, no eixo Fomento 2007-2014
				iframe(src="http://cf.datawrapper.de/mpqrZ/1/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400")

		.container.row
			.six.columns.offset-by-three
				p Entretanto, 3,2 bilhões de reais (o equivalente a 61% desse montante) foram consumidos nos dois últimos anos da Primeira Fase do PPCDAm.

				p A partir da Segunda Fase, quando foram liquidados 1,8 bilhão de reais, as cifras começaram a baixar.

				p Até culminarem na pouco expressiva soma de 178 milhões de reais ao longo dos três primeiros anos da Terceira Fase do PPCDAm (destaque negativo para o ano de 2014, quando foram liquidados apenas 17 milhões de reais, o menor valor do período analisado). Apenas a título de comparação, podemos tomar os anos de 2014 e de 2008 – neste último, os gastos no eixo Fomento atingiram seu ápice (1,9 bilhão de reais). 

				p Apesar da diferença expressiva, o índice de desmatamento dos dois anos, de acordo com os dados do Programa Prodes, do INPE, segue direção oposta: 12,9 quilômetros quadrados (2008) contra 4,8 quilômetros quadrados (2014).
				p Como interpretar esse quadro? Não é necessário fomentar a economia local para combater o desmatamento ilegal na Amazônia? Muito pelo contrário. 
				p Conforme explicado anteriormente neste documento, apesar da queda nos índices, quanto mais se avança com o eixo de Monitoramento e Controle, mais difícil é dar continuidade à redução da taxa. 
					span(yt-audio video-id="KAWBlZPohQc" content='"A fiscalização avançou, mas os eixos de Fomento e Ordenamento precisam de mais força"') Sabe-se que há um limite para a permanência da efetividade das ações de fiscalização. Para debelar o desmate de maneira definitiva, é fundamental investir em atividades econômicas que saibam aproveitar a floresta em pé e dela extraiam riquezas e renda. 
					| Tais atividades, contudo, dependem da intervenção do governo (ou, ao menos, de seus recursos). 
				p O manejo florestal, por exemplo, é visto como uma alternativa ao corte raso, pois direciona a extração das árvores sem destruir a floresta. Mas ele precisa ser estimulado, já que, ao contrário de outros países florestais, o Brasil ainda não tem ampla tradição nesse campo. O apoio ao extrativismo feito por comunidades locais também e uma fonte de renda que não pode ser desprezada: essas famílias têm o importante papel de defender a floresta contra a ação de grileiros, madeireiros e outros agentes. Investir no aprimoramento de suas práticas, prestar-lhes assistência técnica, apoiá-las na comercialização de seus produtos, adquirí-los via compras governamentais podem ser iniciativas que, se bem realizadas, significam menos árvores tombadas e desperdiçadas.