section#fase-2.page.flat.analise-content
	.full.analise-area.white
		.line.big.row
			.container.row
				.twelve.columns
					h3 1. Eixo Ordenamento Fundiário e Territorial

		.line.row
			.container.row
				.eight.columns
					p Os principais resultados deste eixo na Segunda Fase do PPCDAm foram a criação de mais de 25 milhões de hectares de Unidades de Conservação (em geral localizadas nas chamadas zonas de conflito do desmatamento), a homologação de mais de 10 milhões de hectares em Terras Indígenas e a inibição de mais de 60 mil títulos de imóveis rurais (termo técnico utilizado pelo Incra para designar casos de cadastros de posses irregulares).

					p O eixo foi composto por um total de 49 atividades nesta fase do PPCDAm, com responsabilidade distribuida pelos seguintes órgãos: Instituto Chico Mendes de Conservação da Biodiversidade (ICMBio), Instituto Nacional de Colonização e Reforma Agrária (Incra), Ministério do Desenvolvimento Agrário (MDA), Ministério do Meio Ambiente (MMA), Secretaria do Patrimônio da União (SPU), Exército Brasileiro, Fundação Nacional do Índio (Funai), Presidência da República (PR).

					p Entre os anos de 2009 e 2011, o orçamento federal autorizado pelo Congresso Nacional para o eixo Ordenamento Fundiário e Territorial foi de pouco mais de 1 bilhão de reais, sendo que 436 milhões de reais foram investidos – aproveitamento de 42% do total.

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/0c2Q2/2/")

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/t5Skl/2/")
					//iframe(src="http://cf.datawrapper.de/v27ak/1/")

		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 4426
					p.light Georreferenciamento da Malha Fundiária Nacional
				.six.columns
					p Um dos problemas na Amazônia é a questão da titulação da terra: em função da grilagem, muitas propriedades não possuem um cadastro consistente, o que dificulta a responsabilização por crimes ambientais, além de estar vinculado à abertura de novas fronteiras de desmatamento. 
					p O georreferenciamento dos imóveis da região permite, por meio do uso de GPS, conhecer com precisão a localização e os limites das propriedades rurais.
					p Na tentativa de colocar em prática essa ação, o governo federal destinou, em 2009, 70 milhões de reais, sendo que 51 milhões de reais acabaram sendo efetivamente utilizados (73% do total). 
					p No ano seguinte, em 2010, mais recursos foram autorizados: 127 milhões de reais – dos quais 122 milhões de reais liquidados (o equivalente a 96%).
					p Em 2011, último ano da Segunda Fase do PPCDAm, o Poder Legislativo em Brasília (exercido pelo Congresso Nacional) aprovou mais de 88 milhões de reais para o cumprimento da ação, contudo, 78 milhões de reais foram consumidos (88%).
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6381
					p.light Regularização Fundiária das Unidades de Conservação Federais
				.six.columns
					p Criar Unidades de Conservação (UCs) não é o mesmo que transferir o domínio das terras para o patrimônio público. A regularização fundiária dessas áreas passa pela desapropriação de imóveis rurais, indenização de posses e obtenção da gestão de terras públicas inseridas nas UCs.
					p No ano de 2009, o valor autorizado para este fim foi de 1,5 milhão de reais, entretanto, liquidou-se apenas 218 mil reais – correspondente a 15% da soma original.
					p Em 2010, foram disponibilizados 153 milhões de reais e gastos 51 milhões de reais (33%) – valor 233 vezes maior do que no ano anterior. 
					p Por fim, os investimentos se mantiveram em patamar parecido em 2011: dos 105 milhões de reais aprovados, 52 milhões de reais foram dispendidos (49%).

		.container.row
			.twelve.columns
				h3 Dermacação de áreas protegidas e terras indígenas entre 2009 e 2011

		.line.row.big
			iframe(src='http://cardume.cartodb.com/viz/5f7e5aa4-816b-11e4-8e7e-0e9d821ea90d/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)

		.line.big.row
			.container.row
				.twelve.columns
					h3 2. Eixo monitoramento e Controle Ambiental

		.line.row
			.container.row
				.eight.columns
					p De acordo com o relatório oficial do Ministério do Meio Ambiente, "a integração das ações de fiscalização, entre IBAMA, Polícia Federal, Polícia Federal Rodoviária e Exército, permitiu maior sinergia e aumentou a eficácia dos esforços de controle do desmatamento. Com base no sistema Deter, do INPE, e nas ações de inteligência, as equipes foram a campo munidas de informações mais precisas sobre a lógica, os agentes e os vetores do desmatamento. Apesar da queda nos índices, contudo, quanto mais se avança com o eixo de monitoramento e control, mais difícil é continuar reduzindo a taxa. Sabe-se que há um limite para a permanência da efetividade das ações de fiscalização. Sem investimentos maciços nos componentes de ordenamento territorial e fundiário e, sobretudo, no fomento a atividades produtivas sustentáveis, a curva da sustentabilidade não será alcançada."
					p Contudo, ainda segundo relatório do MMA, avanços importantes se deram nessa fase do PPCDAm, entre eles, a criação do sistema DETER, que indica alertas de desmatamento, e o aperfeiçoamento do sistema PRODES, que mede a taxa; a nova metodologia de fiscalização no Ibama, com o planejamento das operações em áreas prioritárias e a participação do Exército, da Polícia Federal e Polícia Rodoviária Federal, resultando na apreensão expressiva de volumes de madeira em tora e de equipamentos e aplicação de multas; e o combate à corrupção, com a prisão de mais de 600 servidores públicos que praticaram crime contra o meio ambiente e a ordem pública.
					p O eixo foi composto nesta fase por 45 atividades, pelas quais responderam: Instituto Nacional de Pesquisas Espaciais (Inpe), Serviço Florestal Brasileiro (SFB), Ministério do Meio Ambiente (MMA), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Sistema de Proteção da Amazônia (Sipam), Fundação Nacional do Índio (Funai), Instituto Chico Mendes de Conservação da Biodiversidade (ICMBio), Departamento de Polícia Federal (DPF), Polícia Rodoviária Federal (PRF), Agência Brasileira de Inteligência (ABIN), Ministério da Defesa (MD), Força Nacional de Segurança (FNS), Ministério do Trabalho e Emprego (MTE), Instituto Nacional de Colonização e Reforma Agrária (Incra), Ministério do Desenvolvimento Social e Combate à Fome (MDS), Companhia Nacional de Abastecimento (CONAB), Ministério da Justiça (MJ), Casa Civil, Conselho Gestor do Fundo Nacional de Segurança Pública, Ministério da Ciência, Tecnologia e Inovação (MCTI).
					p Entre os anos de 2009 e 2011, o orçamento federal autorizado pelo Congresso Nacional para o eixo Monitoramento e Controle foi de 807 milhões de reais, dos quais foram, de fato, gastos 664 milhões de reais (uma execução de 82%).

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/EfIfp/2/" style="height: 950px;")
					//iframe(src="http://cf.datawrapper.de/9ZUtU/1/")
					
		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 1778
					p.light Implantação de Sistea de Informática e Telecomunicações da Polícia Federal (Promotec/Pró-Amazônia)
				.six.columns
					p Em 2009, com orçamento aprovado em 75 milhões de reais, o governo federal gastou 56 milhões de reais nesta ação (74%).
					p No ano seguinte, em 2010, o Legislativo autorizou a quantia de 59 milhões de reais – e 41 milhões de reais foram utilizados (70%).
					p Finalmente, em 2011, o último ano desta fase do PPCDAm, nenhuma verba foi aprovada (ou gasta) nesta ação.
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6307
					p.light Fiscalização de Atividades de Desmatamento
				.six.columns
					p Foram aprovados 66 milhões de reais em 2009 e gastos 42 milhões de reais (63%).
					p Em 2010, quase todo o orçamento autorizado – 42,9 milhões de reais – foi utilizado (a soma não liquidada foi inferior à 500 mil reais).
					p No ano de 2011, dos 56 milhões de reais validados pelo Legislativo, consumiu-se 46 milhões de reais (81%).


		.line.big.row
			.container.row
				.twelve.columns
					h3 3. Eixo Fomento às Atividades Sustentáveis

		.line.row
			.container.row
				.eight.columns
					p Durante a Segunda Fase do PPCDAm, os principais avanços neste eixo foram a lei de Gestão de Florestas Públicas (Lei 11.284/06), que dá transparência à identificação das florestas públicas e agiliza o processo de concessão florestal, e a implantação do Serviço Florestal Brasileiro.
					p Este eixo contemplou 116 atividades, sob responsabilidade dos seguintes órgãos: Serviço Florestal Brasileiro (SFB), Fundação Nacional do Índio (Funai), Casa Civil da Presidência da República, Banco Nacional do Desenvolvimento (BNDES), Ministério do Meio Ambiente (MMA), Empresa Brasileira de Pesquisa Agropecuária (Embrapa), Ministério da Agricultura, da Pecuária e do Abastecimento (MAPA), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Instituto Chico Mendes de Conservação da Biodiversidade (ICMBio), Companhia Nacional de Abastecimento (Conab), Ministério da Pesca e Aquicultura (MPA), Ministério da Integração Nacional (MI), Ministério do Desenvolvimento Agrário (MDA), Ministério da Fazendo (MF), Instituto Nacional de Colonização e Reforma Agrária (Incra), Ministério da Ciência, Tecnologia e Inovação (MCTI), Ministério do Desenvolvimento Social e Combate à Fome (MDS).
					p Entre os anos de 2009 e 2011, o orçamento federal autorizado pelo Congresso Nacional para o eixo Fomento às Atividades Sustentáveis foi de 2,1 bilhão de reais, dos quais foram investidos 1,4 bilhões de reais (aproveitamento de 67%).

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/qwpwI/3/" style="height:700px;")
					//iframe(src="http://cf.datawrapper.de/g73pS/1/")
					
		.line.big.row
			.container.row
				.six.columns.offset-by-five
					p Os gastos com a assistência técnica destinada aos assentamentos da Reforma Agrária superam em muito os valores dispendidos no fomento à atividade agrícola em terras indígenas.
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 4470
					p.light Assistência Técnica e Capacitação de Assentados
				.six.columns
					p Em 2009, o orçamento federal aprovado para essa ação foi de 202 milhões de reais, dos quais 112 milhões de reais foram utilizados (55%). 
					p No ano seguinte, em 2010, 311 milhões de reais foram disponibilizados, no entanto, 140 milhões de reais foi o valor gasto pelos órgãos federais (Incra e OEMAs) – 45% do total. 
					p Por fim, em 2011, as somas foram maiores: dos 219 milhões de reais liberados pelo Congresso, 160 milhões acabaram sendo executados (73%). 
					p Importante frisar que outras ações com meta final semelhante (fomentar a agricultura entre os assentados da Reforma Agrária) receberam aportes semelhantes no mesmo período. 
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 21787
					p.light Assistência Técnica e Extensão Rural em Áreas Índigenas
				.six.columns
					p Destino de orçamento bem inferior em relação a Ação 4470. 
					p Em 2009, os 4 milhões de reais aprovados foram gastos quase que integralmente. 
					p Já em 2010, valor semelhante (4 milhões de reais) foi aprovado, mas 736 mil reais acabaram sendo utilizados (18%).
					p No ano de 2011, aprovou-se 3 milhões de reais, dos quais gastou-se 387 mil reais (13%).