div.analise-content
	.full.analise-area.white
		.line.big.row
			.container.row
				.twelve.columns
					h3 1. Eixo Ordenamento Fundiário e Territorial

		.line.row
			.container.row
				.eight.columns
					p O principal objetivo deste eixo é promover o ordenamento fundiário das terras públicas na Amazônia.

					p Nesta fase do PPCDAm, ele foi composto por 29 atividades, sob responsabilidade dos seguintes órgãos: Casa Civil da Presidência da República, Ministério do Meio Ambiente (MMA), ICMBio, Serviço Florestal Brasileiro (SFB), Fundação Nacional do Índio (Funai), Ministério do Planejamento (MP), Ministério do Desenvolvimento Agrário (MDA), Superintendência da Zona Franca de Manaus (Suframa), Empresa Brasileira de Pesquisa Agropecuária (Embrapa), Companhia de Pesquisa de Recursos Minerais (CPRM), Centro Gestor e Operacional do Sistema de Proteção da Amazônia (Censipam).

					p Entre janeiro de 2012 e o dia 31 de outubro de 2014, o orçamento federal autorizado pelo Congresso Nacional para o eixo Ordenamento Fundiário foi de 933 milhões de reais, dos quais foram investidos, de fato, 159 milhões de reais (um aproveitamento de 17% dos valores disponíveis).

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/hi3ru/2/")

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/OK6Rp/2/" style="height:250px;")
					//iframe(src="http://cf.datawrapper.de/v27ak/1/")

		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 210U
					p.light Organização da Estrutura Fundiária
				.six.columns
					p Sob responsabilidade do Ministério do Desenvolvimento Agrário (MDA), a destinação das terras públicas federais remanescentes para a Reforma Agrária teve um valor autorizado pelo Congresso Nacional, até novembro de 2014, superior a 40 milhões de reais, no entanto, foram gastos apenas 21,5% desse total (pouco mais de 8 milhões de reais).

					p No ano de 2013, os gastos governamentais nessa atividade foram ainda menos expressivos: dos quase 10 milhões de reais autorizados pelo Congresso, apenas 9% foram de fato investidos na organização da estrutura fundiária.

					p Enfim, em 2012, mais de 1,5 milhão de reais foram liberados, mas absolutamente nada foi gasto na reforma agrária, uma consequência da expressiva queda no número de assentamentos criados pelo Incra no período.

			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 211C
					p.light Regularização da Estrutura Fundiária na Área de Abrangência da Lei 11.952
				.six.columns
					p A titulação dos posseiros ocupantes de terras federais na Amazônia vem demonstrando ser mais complexa do que o previsto quando da aprovação da Lei 11952, de 2009, que estabelece regras próprias e em tese mais rápidas para a regularização fundiária na região. Pelo menos é isso que indicam os dados da execução orçamentária do programa Terra Legal, sob responsabilidade do MDA.
					p Exemplo desse contexto é a grande diferença entre os valores autorizados e liquidados. Até novembro de 2014, dos 82 milhões de reais liberados pelo Congresso, apenas  2,8 milhões foram gastos na regularização da estrutura fundiária (3,4%). Antes de chegar na titulação propriamente dita, há um longo processo administrativo, que começa pela identificação das terras federais, o que, por sua vez, implica na checagem nos cartórios, passa pela demarcação e georreferenciamento das glebas, pela solução dos eventuais conflitos entre os órgãos de gestão de terras (UCs, TI, quilombos, terras estaduais etc), pelo levantamento dos ocupantes e se esses cumprem os requisitos legais, até chegar à assinatura das cláusulas resolutivas.
					p No ano anterior, em 2013, valor semelhante (83 milhões de reais) foi autorizado e os gastos reais não chegaram aos 11 milhões de reais (13% do total).
					p Mas, outra vez, o ano de 2012 é  o que teve menor execução: dos 666 mil reais autorizados para o cumprimento da atividade, nada foi gasto. Como dito acima, o órgão responsável por coordenar a implementação dessa política específica é o Ministério do Desenvolvimento Agrário (MDA), que criou uma secretaria extraordinária para cuidar do assunto.

			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 20W4
					p.light Gestão Ambiental e Territorial das Terras Indígenas
				.six.columns
					p Sob coordenação da Fundação Nacional do Índio (Funai) e do Ministério do Meio Ambiente (MMA), a atividade dedicada a "Elaborar Planos de Gestão Territorial e Ambiental de Terras Indígenas" gastou muito menos dinheiro do que o previsto.
					p Até novembro de 2014, os recursos liberados foram de 2,1 milhões de reais – o valor gasto foi de 1%. Em 2013, quando apenas 200 mil reais foram autorizados pelo Congresso, a quantia liquidada foi de 17.705 reais (9% do total), número absoluto inferior ao de 2014.
					p Em 2012, nada foi gasto nessa atividade, apesar do mais de 3,6 milhões disponíveis.

		.line.big.row
			.container.row
				.twelve.columns
					h3 2. Eixo monitoramento e Controle Ambiental

		.line.row
			.container.row
				.eight.columns
					p De acordo com o Ministério do Meio Ambiente, desde o ano de 2004, quando o PPCDAm foi implementado, "o eixo Monitoramento e Controle tem sido reconhecido em avaliações independentes como o que mais evoluiu". Consequentemente, trata-se daquele com maior participação na redução de quase 77% na taxa de desmatamento entre 2004 (27.772 km²) e 2011 (6.418 km²).
					p Em parte, o bom funcionamento desse componente deve-se às melhorias nos sistemas de monitoramento via satélite da cobertura florestal da Amazônia Legal: o Prodes e, principalmente, o Deter. Na outra ponta estão os trabalhos de fiscalização e controle, que visam desarticular os agentes do desmatamento ilegal.
					p Na terceira fase do PPCDAm, este eixo foi composto por 71 atividades, sob responsabilidade dos seguintes órgãos: Ministério do Meio Ambiente (MMA), Instituto Chico Mendes de Conservação da Biodiversidade (ICMBio), Serviço Florestal Brasileiro (SFB), Fundação Nacional do Índio (Funai), Ministério da Justiça (MJ), Instituto Nacional de Pesquisas Espaciais (Inpe), Superintendência da Zona Franca de Manaus (Suframa), Centro Gestor e Operacional do Sistema de Proteção da Amazônia (Censipam), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Departamento de Polícia Federal (DPF), Ministério da Agricultura, da Pecuária e do Abastecimento (MAPA).
					p Entre janeiro de 2012 e o dia 31 de outubro de 2014, o orçamento federal autorizado pelo Congresso Nacional para o eixo Monitoramento e Controle foi de 554 milhões de reais, dos quais 366 milhões de reais foram investidos (66% de aproveitamento).

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/orF85/1/" style="height: 400px;")
					//iframe(src="http://cf.datawrapper.de/9ZUtU/1/")
					
		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6307
					p.light Fiscalização de atividades de desmatamento
				.six.columns
					p Em 2014, dos 55 milhões de reais aprovados pelo Congresso Nacional, 39 milhões de reais foram liquidados (71%).
					p Um total de 52 milhões de reais acabou liberado em 2013, contudo, gastou-se 31 milhões de reais – o equivalente a 60%.
					p No ano de 2012, dos 103 milhões de reais previstos em orçamento, foram utilizados 40 milhões de reais (38%).
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 8308
					p.light Regularização ambiental dos imóveis rurais nas unidades da federação
				.six.columns
					p Embora a lei 12651 (novo Código Florestal) tenha sido sancionada em maio de 2012, é  curioso que o Cadastro Ambiental Rural (CAR), que visa regularizar a precária situação ambiental no Brasil, tenha tido uma baixa execução orçamentária nesse ano. Dos 4,3 milhões liberados pelo Congresso Nacional, foram gastos 2,1 milhões (49%).
					p No ano seguinte, muito mais dinheiro foi destinado à meta: 32,8 milhões de reais, dos quais foram dispendidos 92%. Desse dinheiro uma boa parte seguiu para a aquisição de imagens de satélite e para a contratação de serviços vinculados à UFLA.
					p Em maio de 2014, foi publicada a instrução normativa que estabelece as regras do CAR. Por isso supreende que em 2014 tenha havido baixa execução orçamentária. Embora caiba aos estados a aprovação e validação dos registros do CAR, o MMA criou o SICAR (sistema montado para o registro, aprovação, validação do Cadastro Ambiental Rural), chamando para si um atribuição a princípio pertencente a outros entes da federaçãoo.
					p Até novembro de 2014, nenhum recurso foi destinado ao CAR.
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6074
					p.light Prevenção e combate a incêndios florestais e controle de queimadas
				.six.columns
					p A ação destinada a prevenir e combater incêndios recebeu, até novembro de 2014, um orçamento de 38,4 milhões de reais do governo federal – dos quais 16,9 milhões foram gastos (44%).
					p A mesma quantia foi dispendida em 2013, embora o valor autorizado pelo Congresso Federal tenha sido de 21,5 milhões de reais (79%). 
					p No ano de 2012, 22,6 milhões de reais foram autorizados e 20,6 milhões gastos (91%).
					p Ano após ano, os incêndios consomem milhares de quilômetros de florestas, emitindo muitos gases que aquecem o planeta, mas sequer os recursos destinados pelo Congresso Nacional são efetivamente gastos, em razão do contingenciamento dos recursos, a baixa prioridade que esse tema recebe ao longo do tempo e das fragilidades institucionais impostas aos órgãos ambientais.

		.line.big.row
			.container.row
				.twelve.columns
					h3 3. Eixo Fomento às Atividades Sustentáveis

		.line.row
			.container.row
				.eight.columns
					p Os principais desafios relacionados a este eixo são: a baixa viabilidade das cadeias produtivas que constituem alternativas ao desmatamento, a expansão desordenada da agropecuária, a baixa produção madeireira sustentável, as atividades produtivas dos assentamentos não compatíveis com a legislação ambiental e a degradação florestal e do solo amazônico. Em outras palavras, a exploração predatória dos recursos naturais precisa deixar de ser a única alternativa viável para os habitantes da Amazônia. Mas cadeias produtivas sustentáveis e geradoras de renda e de emprego ainda não são realidade na região.
					p É este o contexto do eixo Fomento às Atividades Sustentáveis, que, nesta teceira fase do PPCDAm, conta com um total de 94 atividades, pelas quais são responsáveis os seguintes órgãos: Serviço Florestal Brasileiro (SFB), Fundação Nacional do Índio (Funai), Ministério do Meio Ambiente (MMA), Centro Gestor e Operacional do Sistema de Proteção da Amazônia (Censipam), Empresa Brasileira de Pesquisa Agropecuária (Embrapa), Ministério da Agricultura, da Pecuária e do Abastecimento (MAPA), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Instituto Chico Mendes de Conservação da Biodiversidade (ICMBio), Comissão Executiva do Plano da Lavoura Cacaueira (Ceplac), Companhia Nacional de Abastecimento (Conab), Ministério da Pesca e Aquicultura (MPA), Ministério do Desenvolvimento Agrário (MDA), Instituto Nacional de Colonização e Reforma Agrária (Incra), Ministério da Ciência, Tecnologia e Inovação (MCTI).
					p Entre janeiro de 2012 e o dia 31 de outubro de 2014, o orçamento federal autorizado pelo Congresso Nacional para este eixo foi de 3 bilhões de reais, dos quais foram gastos, de fato, 223 milhões de reais (aproveitamento de 7,5%).

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/OK6Rp/2/" style="height: 250px;")
					//iframe(src="http://cf.datawrapper.de/g73pS/1/")
					
		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 04EO
					p.light Fomento à Produção Pesqueira e Aquícola
				.six.columns
					p Com o objetivo de "promover a viabilidade das cadeias produtivas que constituem alternativas ao desmatamento" e sob a responsabilidade do Ministério da Pesca e Aquicultura (MPA), o governo federal disponibilizou, em 2013, 206 milhões de reais para fomentar a pesca e a aquicultura na Amazônia – dos quais 19,7 milhões foram, de fato, investidos (ou 9,5%).
					p Curiosamente, nos anos de 2012 (4,2 milhões de reais) e de 2014 (15 milhões de reais), nenhum centavo dos recursos disponibilizados foi gasto.*
					p.light *informação válida até novembro de 2014
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 20M4
					p.light Promoção de modelos produtivos rurais sustentáveis
				.six.columns
					p Coordenado pela SFB, a iniciativa dedicada a incentivar o manejo florestal e a ampliação de florestas plantadas (alternativas ao desmatamento ilegal), recebeu, até novembro de 2014, 700 mil reais do governo federal – 79,7 mil reais, de fato, utilizados (11%).
					p No anterior, em 2013, a quantia disponibilizada foi um pouco menor: 650 mil reais. No entanto, o valor gasto foi superior: 149,4 mil reais (23%).
					p Por fim, em 2012, dos 475 mil reais aprovados pelo Congresso, 140 mil reais foram investidos (29% do total).

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/5oBMM/3/")