div.analise-content
	.full.analise-area.white
		.line.big.row
			.container.row
				.twelve.columns
					h3 1. Eixo Ordenamento Fundiário e Territorial

		.line.row
			.container.row
				.eight.columns
					p Nos primeiros anos do PPCDAm, uma meta específica permeou as ações deste eixo: oromover o Ordenamento Territorial do Arco do Desmatamento e dos municípios de influência da BR-163 (Cuiabá – Santarém).
					p Em sua primeira fase, este eixo foi composto por 35 atividades, coordenadas pelos seguintes órgãos: Secretaria de Políticas para o Desenvolvimento Sustentável (SDS/MMA), Ministério do Meio Ambiente (MMA), Secretaria de Coordenação da Amazônia (SCA/MMA), Ministério do Desenvolvimento Agrário (MDA), Ministério da Agricultura, da Pecuária e do Abastecimento (MAPA), Ministério da Integração Nacional (MI), Ministério da Defesa (MD), Ministério do Desenvolvimento, Indústria e Comércio (MDIC), Ministério da Justiça (MJ), Fundação Nacional do Índio (FUNAI).
					p O fato é que o PPCDAm estabeleceu um novo paradigma de ação integrada no combate ao desmatamento ilegal na Amazônia brasileira, afinal, por meio do Plano, a devastação da floresta ganhou lugar de destaque entre as mais altas esferas do governo federal, ampliando o debate sobre políticas públicas na região para um grande número de ministérios.
					p Em sua primeira fase, este eixo contou com 60 atividades, supervisionadas por: Ministério do Meio Ambiente (MMA), Sistema de Proteção da Amazônia (Sipam), Ministério da Justiça (MJ), Instituto Nacional de Pesquisas Espaciais (Inpe), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Ministério da Ciência e Tecnologia (MCT), Ministério do Trabalho e do Emprego (MTE), Casa Civil da Presidência da República.
					p Entre janeiro de 2007 e 31 de dezembro de 2008, o orçamento federal autorizado pelo Congresso Nacional para o eixo Ordenamento Fundiário e Territorial foi de 373 milhões de reais, dos quais foram executados 233 milhões de reais, o equivalente a 62% do total de recursos disponíveis.

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/6fMhb/4/" style="height: 400px;")
					//iframe(src="http://cf.datawrapper.de/v27ak/1/")

		.line.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6914 na Lei Orçamentária (LOA)
					p.light Localização e proteção de povos indígenas isolados ou de recente contato
				.six.columns
					p
						| A ação teve orçamento aprovado, em 
						strong 2007
						| , no valor de 1,45 milhões de reais – sendo que 84,5% desse montante foi, de fato, investido.

					p
						| No ano seguinte, em 
						strong 2008
						| , os valores foram bem mais modestos: dos 172,4 mil reais aprovados pelo Congresso, 62,3 mil reais foram gastos (o equivalente a  36% do total).
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 1J30 na LOA
					p.light Elaboração da base cartográfica digital da Amazônia Legal
				.six.columns
					p Em 2007, a ação teve orçamento estipulado em 8,3 milhões de reais, entretanto, o valor dispendido foi de apenas 44,4 mil reais (0,5% do estipulado originalmente). 
					p Muito mais foi investido em 2008, quando, dos 10,8 milhões de reais autorizados, 6,8 milhões foram gastos (63%).

		.container.row
			.twelve.columns
				h3 Dermacação de áreas protegidas e terras indígenas entre 2007 e 2008

		.line.row.big
			iframe(src='http://cardume.cartodb.com/viz/17b0dbf0-7f3d-11e4-8aa7-0e018d66dc29/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)

		.line.big.row
			.container.row
				.twelve.columns
					h3 2. Eixo monitoramento e Controle Ambiental

		.line.row
			.container.row
				.eight.columns
					p É possível dizer que este foi o eixo de maior eficácia na Primeira Fase do PPCDAm. Nesse período, seu grande mérito – além, é claro, de contribuir para a diminuição do desmatamento – foi o desenvolvimento do Sistema Deter (Sistema de Detecção do Desmatamento em Tempo Real). Acredita-se que o apoio tecnológico do monitoramento via satélite gerou economia no custo das operações de fiscalização.
					p Para se ter uma ideia da eficácia do PPCDAm em seus primeiros anos, do início da vigência do Plano, em 2004, até o final do ano de 2010, a taxa anual média de desmatamento na Amazônia caiu de 27,4 mil quilômetros quadrados para 6,5 mil quilômetros quadrados – nível mais baixo desde o inicio das medições anuais em 1988.
					p O fato é que o PPCDAm estabeleceu um novo paradigma de ação integrada no combate ao desmatamento ilegal na Amazônia brasileira, afinal, por meio do Plano, a devastação da floresta ganhou lugar de destaque entre as mais altas esferas do governo federal, ampliando o debate sobre políticas públicas na região para um grande número de ministérios.
					p Em sua primeira fase, este eixo contou com 60 atividades, supervisionadas por: Ministério do Meio Ambiente (MMA), Sistema de Proteção da Amazônia (Sipam), Ministério da Justiça (MJ), Instituto Nacional de Pesquisas Espaciais (Inpe), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Ministério da Ciência e Tecnologia (MCT), Ministério do Trabalho e do Emprego (MTE), Casa Civil da Presidência da República.
					p Entre janeiro de 2007 e 31 de dezembro de 2008, o orçamento federal autorizado pelo Congresso Nacional para o eixo Monitoramento e Controle foi de 281 milhões de reais, dos quais foram executados 231 milhões de reais, o equivalente a 82% do total de recursos disponíveis.

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/HQTxt/4/")

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/24tCQ/3/" style="height: 400px;")
					//iframe(src="http://cf.datawrapper.de/9ZUtU/1/")
					
		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6307 na LOA
					p.light Fiscalização de Atividades de Desmatamento
				.six.columns
					p Em 2007, o orçamento aprovado para essa ação superou os 24 milhões de reais e foi utilizado em quase a sua totalidade – 23,8 milhões de reais (98,5%) – na tentativa de fiscalizar e conter o desmatamento na Amazônia.
					p No ano seguinte, em 2008, quantias maiores foram gastas: dos 31 milhões de reais autorizados, 28 milhões de reais (ou 97%) acabaram sendo liquidados.
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 4322 na LOA
					p.light Manutenção do Sistema de Vigilância da Amazônia (SIVAM)
				.six.columns
					p Em 2007, praticamente todo o montante de 2 milhões de reais aprovado pelo Congresso Nacional para manter o sistema de vigilância do espaço aéreo da Amazônia brasileira acabaram sendo gastos.
					p Contudo, no ano seguinte, em 2008, dos 10 milhões de reais disponíveis, quase 2 milhões de reais acabaram sendo investidos – um aproveitamento de 20% dos recursos.

		.line.big.row
			.container.row
				.twelve.columns
					h3 3. Eixo Fomento às Atividades Sustentáveis

		.line.row
			.container.row
				.eight.columns
					p Este eixo, apesar do volume dos recursos disponibilizados, foi o menos efetivo da Primeira Fase. É consenso entre pesquisadores e estudiosos que a transição para um novo modelo de desenvolvimento na Amazônia é fundamental para combater efetivamente o desmatamento. As atividades propostas neste período, contudo, não foram suficientes para essa mudança de paradigma, tanto é que, em um aspecto geral, muitas das atividades planejadas tiveram baixo grau de execução
					p Na primeira fase do PPCDAm, o eixo Fomento às Atividades Sustentáveis foi composto por 67 atividades, sendo estas coordenadas pelos órgãos a seguir: Fundação Nacional do Índio (Funai), Casa Civil da Presidência da República, Banco Nacional do Desenvolvimento (BNDES), Serviço Brasileiro de Apoio às Micro e Pequenas Empresas (Sebrae), Ministério do Trabalho e Emprego (MTE), Ministério do Meio Ambiente (MMA), Empresa Brasileira de Pesquisa Agropecuária (Embrapa), Ministério da Agricultura, da Pecuária e do Abastecimento (MAPA), Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renovaveis (Ibama), Ministério da Integração Nacional (MI), Ministério do Desenvolvimento Agrário (MDA), Ministério da Fazenda (MF), Ministério da Ciência e Tecnologia (MCT), Ministério do Desenvolvimento, Indústria e Comércio (MDIC), Companhia Nacional de Abastecimento (Conab),  Secretaria Especial de Coordenação Política da Presidência da República.
					p Entre janeiro de 2007 e 31 de dezembro de 2008, o orçamento federal autorizado pelo Congresso Nacional para o eixo Fomento às Atividades Sustentáveis foi de 2,7 bilhões de reais, dos quais, de fato, foram investidos 2,2 bilhões de reais, o equivalente a 81% do total de recursos disponíveis.

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/2AWfW/5/" style="height: 720px;")
					//iframe(src="http://cf.datawrapper.de/g73pS/1/")
					
		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6063 na LOA
					p.light Fomento a Projetos de Gestão Ambiental dos Povos Indígenas da Amazônia
				.six.columns
					p A quantia autorizada em 2007 foi alta: 3,2 milhões de reais. Destes, 590 mil reais acabaram sendo, de fato, gastos (o equivalente a 18% da importância original).
					p No ano fiscal seguinte, 2008, o Congresso aprovou o orçamento em 8 milhões de reais, dos quais 470 mil reais foram investidos (ou 6%).
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 0062 na LOA
					p.light Concessão de Crédito – Instalação às Famílias Assentadas – Implantação
				.six.columns
					p Assentar as famílias cadastradas no INCRA é apenas uma etapa inicial do processo de Reforma Agrária. É preciso, também, dar condições aos pequenos produtores de prosperarem em suas terras – do contrário, eles podem acabar cooptados por lucrativas atividades ilegais, como, por exemplo, o comércio de madeira. 
					p No ano de 2007, praticamente toda a quantia de 763 milhões de reais destinada à concessão de crédito para as famílias assentadas acabou sendo usada.
					p Em 2008, muito dinheiro foi investido: 1,4 bilhão de reais autorizados – e 1,3 bilhão (91%) gastos.