section#fase-2.page.top.flat

	.row
		iframe(width='100%' height='520' frameborder='0' src='http://gufalei.cartodb.com/viz/cea959bc-b003-11e4-a368-0e018d66dc29/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)

	.container.row
		.six.columns.offset-by-three
			h3 2ª fase
			h2 A queda nos índices do desmatamento
			p De acordo com o relatório oficial do Ministério do Meio Ambiente, "a integração das ações de fiscalização, entre Ibama, Polícia Federal, Polícia Federal Rodoviária e Exército, permitiu maior sinergia e aumentou a eficácia dos esforços de controle do desmate. Com base no sistema Deter, do INPE, e nas ações de inteligência, as equipes foram a campo munidas de informações mais precisas sobre a lógica, os agentes e os vetores do desmatamento. Apesar da queda nos índices, contudo, quanto mais se avança com o eixo de Monitoramento e Controle, mais difícil é dar continuidade à redução da taxa. Sabe-se que há um limite para a permanência da efetividade das ações de fiscalização. Sem investimentos maciços nos componentes de Ordenamento Territorial e Fundiário e, sobretudo, no Fomento às Atividades Produtivas Sustentáveis, a curva da sustentabilidade não será alcançada".
			p Contudo, ainda segundo relatório do MMA, avanços importantes se deram nessa fase do PPCDAm, entre eles, (1) a consolidação do sistema Deter, que indica alertas de desmatamento, e o aperfeiçoamento do sistema Prodes, que mede a taxa de desmate; (2) a nova metodologia de fiscalização do Ibama, com o planejamento das operações em áreas prioritárias e a participação do Exército, da Polícia Federal e da Polícia Rodoviária Federal, resultando na apreensão expressiva de volumes de madeira em tora e de equipamentos e aplicação de multas; (3) e o combate à corrupção, com a prisão de mais de 600 servidores públicos que praticaram crime contra o meio ambiente e a ordem pública.
			p Outro fato relevante durante a segunda fase foram os avanços na execução da lei de Gestão de Florestas Públicas (Lei 11.284/06). Sancionada em março de 2006, ela praticamente não foi implementada durante seus primeiros anos de vida. 
				span(yt-audio video-id="Att7U_XA-iM" title="Mauro Oliveira Pires" content='"O manejo ainda não é capaz de fomentar uma economia florestal"') Seu papel é dar transparência à identificação das florestas públicas, agilizar o processo de concessão florestal e favorecer a implantação do Serviço Florestal Brasileiro.

	.container
		.twelve.columns
			h3 Demarcação de unidades de conservação e terras indígenas entre 2009 e 2011
	//
		.row
			iframe(src='http://cardume.cartodb.com/viz/5f7e5aa4-816b-11e4-8e7e-0e9d821ea90d/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)

	.map-container(ng-controller="MapController")
		cartodb(map-id="teste" base-layer="getBaseLayer()" layers="[getAmazLegalLayer(), getTILayer(2009, 2011), getUCLayer(2009, 2011)]" bounds-index="'2'")

	.eixo-title.ordenamento
		.container
			.six.columns.offset-by-three
				h2 1. Eixo Ordenamento Fundiário e Territorial

	.dark.row
		.container
			.twelve.columns
				table.tendency-table
					thead
						tr
							td.year Ano
							td.authorized Autorizado
							td.spent Liquidado
							td.index Índice de execução
					tr
						td.year 2009
						td.authorized R$ 374 mi
						td.spent R$ 178,7 mi
						td.index 48%
					tr
						td.year 2010
						td.authorized R$ 539,3 mi
							span.icon-arrow-up-right2.up
						td.spent R$ 304,7 mi
							span.icon-arrow-up-right2.up
						td.index 56%
							span.icon-arrow-up-right2.up
					tr
						td.year 2011
						td.authorized R$ 391,8 mi
							span.icon-arrow-down-right2.down
						td.spent R$ 229,8 mi
							span.icon-arrow-down-right2.down
						td.index 59%
							span.icon-arrow-up-right2.up

	.container
		.six.columns.offset-by-three

			.row
				p.featured Representatividade do eixo 
					span(yt-audio video-id="neiMStsenN8" title="Mauro Oliveira Pires" content='"O manejo ainda não é capaz de fomentar uma economia florestal"') Ordenamento 
					| na Segunda Fase

				p Entre os anos de 2009 e 2011, foram gastos no eixo Ordenamento 
					strong 713 milhões de reais
					| , o equivalente a 
					strong 21% do total liquidado 
					| durante a segunda fase do Programa.

	.container
		.nine.columns
			p.featured.actions-title Ações em destaque

	.container.row
		.three.columns

			p.action Georreferenciamento da Malha Fundiária Nacional
				span.action-name (Ação 4426 na Lei Orçamentária (LOA)

		.six.columns

			p Um dos problemas na Amazônia é a questão da titulação da terra: em função da grilagem, muitas propriedades não possuem um cadastro consistente, o que dificulta a responsabilização por crimes ambientais, além de estar vinculado à abertura de novas fronteiras de desmatamento.

			p(yt-audio video-id="70GuuFgMQvw" content='"Sem o Cadastro Ambiental Rural as multas não são eficazes"') O georreferenciamento dos imóveis da região permite, por meio do uso de GPS, conhecer com precisão a localização e os limites das propriedades rurais.

			p Na tentativa de colocar em prática essa ação, o governo federal destinou, em 2009, 94,4 milhões de reais, sendo que 69 milhões de reais acabaram sendo efetivamente utilizados (73% do total).

			p No ano seguinte, em 2010, mais recursos foram autorizados: 163 milhões de reais – dos quais 156,5 milhões de reais liquidados (o equivalente a 96%).

			p Em 2011, último ano da segunda fase do PPCDAm, o Poder Legislativo em Brasília (exercido pelo Congresso Nacional) aprovou mais de 106,2 milhões de reais para o cumprimento da ação, contudo, 93,5 milhões de reais foram consumidos (88%).

	.container.row
		.three.columns
			p.action Regularização fundiária das Unidades de Conservação Federais
				span.action-name (Ação 6381 na LOA)

		.six.columns

			p Criar Unidades de Conservação (UCs) não é o mesmo que transferir o domínio das terras para o patrimônio público. A regularização fundiária dessas áreas passa pela desapropriação de imóveis rurais, indenização de posses e obtenção da gestão de terras públicas inseridas nas UCs.

			p No ano de 2009, o valor autorizado para esse fim foi de 2 milhões de reais, entretanto, liquidaram-se apenas 294 mil reais – correspondentes a 15% da soma original.

			p Em 2010, foram disponibilizados 196 milhões de reais e gastos 65 milhões de reais (33%).

			p Por fim, os investimentos se mantiveram em patamar parecido em 2011: dos 126,5 milhões de reais aprovados, 62,4 milhões de reais foram despendidos (49%).

	.eixo-title.monitoramento
		.container
			.six.columns.offset-by-three
				h2 2. Eixo Monitoramento e Controle Ambiental

	.dark.row
		.container
			.twelve.columns
				table.tendency-table
					thead
						tr
							td.year Ano
							td.authorized Autorizado
							td.spent Liquidado
							td.index Índice de execução
					tr
						td.year 2009
						td.authorized R$ 425,9 mi
						td.spent R$ 333,8 mi
						td.index 78%
					tr
						td.year 2010
						td.authorized R$ 348 mi
							span.icon-arrow-down-right2.down
						td.spent R$ 293 mi
							span.icon-arrow-down-right2.down
						td.index 84%
							span.icon-arrow-up-right2.up
					tr
						td.year 2011
						td.authorized R$ 262,5 mi
							span.icon-arrow-down-right2.down
						td.spent R$ 225,4 mi
							span.icon-arrow-down-right2.down
						td.index 86%
							span.icon-arrow-up-right2.up

	.container
		.six.columns.offset-by-three

			.row
				p.featured Representatividade do eixo Monitoramento na Segunda Fase

				p Entre os anos de 2009 e 2011, foram gastos no eixo 
					strong Monitoramento 852,3 milhões de reais
					| , o equivalente a 
					strong 25% do total liquidado 
					| durante a segunda fase do PPCDAm.

			.row
				p.featured Objetivo estratégico em destaque

				p Reunidas sob o Objetivo Estratégico "Implementação do Projeto de Apoio à Descentralização da Gestão Florestal - Protocontrole", sete ações têm como metas fundamentais a elaboração do Inventário Florestal Nacional, a implantanção do Sistema Nacional de Informações Florestais, o planejamento e gestão das concessões florestais e a gestão do Serviço Florestal Brasileiro. 
				p Entre os anos de 2009 e 2011, esse grupo de ações teve um orçamento autorizado pelo Congresso Nacional no valor de 150 milhões de reais, sendo que 104 milhões de reais foram liquidados (70%).

	.container
		.nine.columns
			p.featured.actions-title Ações em destaque

	.container.row
		.three.columns

			p.action Implantação de Sistema de Informática e Telecomunicações da Polícia Federal
				span.action-name (Ação 1778 na Lei Orçamentária Anual)

		.six.columns

			p Em 2009, com orçamento aprovado em 101,2 milhões de reais, o governo federal gastou 75,5milhões de reais nessa ação (74%).
			p No ano seguinte, em 2010, o Legislativo autorizou a quantia de 75 milhões de reais e o governo federal gastou 53 milhões de reais nessa ação (70%).
			p Finalmente, em 2011, o último ano dessa fase do PPCDAm, nenhuma verba foi aprovada (ou gasta) nessa ação.

	.container.row
		.three.columns

			p.action Fiscalização de atividades de desmatamento
				span.action-name (Ação 6307 na Lei Orçamentária Anual)

		.six.columns

			p Foram aprovados 89 milhões de reais em 2009 e gastos 56,7 milhões de reais (63%).
			p Em 2010, quase todo o orçamento autorizado – 54,8 milhões de reais – foi utilizado (a soma não liquidada foi de 500 mil reais).
			p No ano de 2011, dos 67,6 milhões de reais autorizados pelo Legislativo, consumiram-se 55 milhões de reais (81%).

	.eixo-title.fomento
		.container
			.six.columns.offset-by-three
				h2 3. Eixo Fomento às Atividades Sustentáveis

	.dark.row
		.container
			.twelve.columns
				table.tendency-table
					thead
						tr
							td.year Ano
							td.authorized Autorizado
							td.spent Liquidado
							td.index Índice de execução
					tr
						td.year 2009
						td.authorized R$ 970 mi
						td.spent R$ 708 mi
						td.index 73%
					tr
						td.year 2010
						td.authorized R$ 1.189 mi
							span.icon-arrow-up-right2.up
						td.spent R$ 646 mi
							span.icon-arrow-down-right2.down
						td.index 54%
							span.icon-arrow-down-right2.down
					tr
						td.year 2011
						td.authorized R$ 617 mi
							span.icon-arrow-down-right2.down
						td.spent R$ 468,3 mi
							span.icon-arrow-down-right2.down
						td.index 76%
							span.icon-arrow-up-right2.up

	.container
		.six.columns.offset-by-three

			.row
				p.featured Representatividade do eixo Fomento na Segunda Fase

				p Entre os anos de 2009 e 2011, foram gastos neste eixo 
					strong 1,8 bilhão de reais
					| , o equivalente a 
					strong 54% do total liquidado 
					| durante o período.

	.container
		.nine.columns
			p.featured.actions-title Ações em destaque

	.container.row
		.three.columns

			p.action Assistência técnica e capacitação de assentados
				span.action-name (Ação 4470 na Lei Orçamentária Anual)

		.six.columns

			p Em 2009, o orçamento federal aprovado para essa ação foi de 273 milhões de reais, dos quais 151 milhões de reais foram utilizados (55%).
			p No ano seguinte, em 2010, 398 milhões de reais foram disponibilizados, no entanto, 180 milhões de reais foi o valor gasto pelos órgãos federais (Incra e OEMAs) – 45% do total. 
			p Por fim, em 2011, as somas foram maiores: dos 262,4 milhões de reais autorizados pelo Congresso, 191,4 milhões acabaram sendo executados (73%).
			p Importante frisar que outras ações com meta final parecida (fomentar a agricultura entre os assentados da Reforma Agrária) receberam aportes semelhantes no mesmo período, todos eles bastante superiores aos valores destinados à extensão rural em Terras Indígenas, conforme pode ser visto na próxima ação em destaque.

	.container.row
		.three.columns

			p.action Assistência técnica e extensão rural em áreas índigenas
				span.action-name (Ação 2178 na Lei Orçamentária Anual)

		.six.columns

			p Em 2009, os 5,4 milhões de reais aprovados foram gastos quase integralmente.
			p Já em 2010, valor semelhante (5 milhões de reais) foi aprovado, mas 941 mil reais acabaram sendo utilizados (18%).
			p No ano de 2011, foram aprovados 3,6 milhões de reais, dos quais foram gastos 463,5 mil reais (13%).