div.analise-content
	.full.analise-area.white
		.line.big.row
			.container.row
				.twelve.columns
					h3 1. Eixo Ordenamento Fundiário e Territorial

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/v27ak/1/")

		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 4426
					p.light Georreferenciamento da Malha Fundiária Nacional
				.six.columns
					p Um dos problemas na Amazônia é a questão da titulação da terra: em função da grilagem, muitas propriedades não possuem um cadastro consistente, o que dificulta a responsabilização por crimes ambientais, além de estar vinculado à abertura de novas fronteiras de desmatamento. 
					p O georreferenciamento dos imóveis da região permite, por meio do uso de GPS, conhecer com precisão a localização e os limites das propriedades rurais.
					p Na tentativa de colocar em prática essa ação, o governo federal destinou, em 2009, 70 milhões de reais, sendo que 51 milhões de reais acabaram sendo efetivamente utilizados (73% do total). 
					p No ano seguinte, em 2010, mais recursos foram autorizados: 127 milhões de reais – dos quais 122 milhões de reais liquidados (o equivalente a 96%).
					p Em 2011, último ano da Segunda Fase do PPCDAm, o Poder Legislativo em Brasília (exercido pelo Congresso Nacional) aprovou mais de 88 milhões de reais para o cumprimento da ação, contudo, 78 milhões de reais foram consumidos (88%).
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6381
					p.light Regularização Fundiária das Unidades de Conservação Federais
				.six.columns
					p Criar Unidades de Conservação (UCs) não é o mesmo que transferir o domínio das terras para o patrimônio público. A regularização fundiária dessas áreas passa pela desapropriação de imóveis rurais, indenização de posses e obtenção da gestão de terras públicas inseridas nas UCs.
					p No ano de 2009, o valor autorizado para este fim foi de 1,5 milhão de reais, entretanto, liquidou-se apenas 218 mil reais – correspondente a 15% da soma original.
					p Em 2010, foram disponibilizados 153 milhões de reais e gastos 51 milhões de reais (33%) – valor 233 vezes maior do que no ano anterior. 
					p Por fim, os investimentos se mantiveram em patamar parecido em 2011: dos 105 milhões de reais aprovados, 52 milhões de reais foram dispendidos (49%).

		.line.big.row
			.container.row
				.twelve.columns
					h3 2. Eixo monitoramento e Controle Ambiental

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/9ZUtU/1/")
					
		.line.big.row
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 1778
					p.light Implantação de Sistea de Informática e Telecomunicações da Polícia Federal (Promotec/Pró-Amazônia)
				.six.columns
					p Em 2009, com orçamento aprovado em 75 milhões de reais, o governo federal gastou 56 milhões de reais nesta ação (74%).
					p No ano seguinte, em 2010, o Legislativo autorizou a quantia de 59 milhões de reais – e 41 milhões de reais foram utilizados (70%).
					p Finalmente, em 2011, o último ano desta fase do PPCDAm, nenhuma verba foi aprovada (ou gasta) nesta ação.
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 6307
					p.light Fiscalização de Atividades de Desmatamento
				.six.columns
					p Foram aprovados 66 milhões de reais em 2009 e gastos 42 milhões de reais (63%).
					p Em 2010, quase todo o orçamento autorizado – 42,9 milhões de reais – foi utilizado (a soma não liquidada foi inferior à 500 mil reais).
					p No ano de 2011, dos 56 milhões de reais validados pelo Legislativo, consumiu-se 46 milhões de reais (81%).


		.line.big.row
			.container.row
				.twelve.columns
					h3 3. Eixo Fomento às Atividades Sustentáveis

		.line.row
			.container.row
				.twelve.columns
					iframe(src="http://cf.datawrapper.de/g73pS/1/")
					
		.line.big.row
			.container.row
				.six.columns.offset-by-five
					p Os gastos com a assistência técnica destinada aos assentamentos da Reforma Agrária superam em muito os valores dispendidos no fomento à atividade agrícola em terras indígenas.
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 4470
					p.light Assistência Técnica e Capacitação de Assentados
				.six.columns
					p Em 2009, o orçamento federal aprovado para essa ação foi de 202 milhões de reais, dos quais 112 milhões de reais foram utilizados (55%). 
					p No ano seguinte, em 2010, 311 milhões de reais foram disponibilizados, no entanto, 140 milhões de reais foi o valor gasto pelos órgãos federais (Incra e OEMAs) – 45% do total. 
					p Por fim, em 2011, as somas foram maiores: dos 219 milhões de reais liberados pelo Congresso, 160 milhões acabaram sendo executados (73%). 
					p Importante frisar que outras ações com meta final semelhante (fomentar a agricultura entre os assentados da Reforma Agrária) receberam aportes semelhantes no mesmo período. 
			.container.row
				.four.columns.align-right.offset-by-one
					h4 Ação 21787
					p.light Assistência Técnica e Extensão Rural em Áreas Índigenas
				.six.columns
					p Destino de orçamento bem inferior em relação a Ação 4470. 
					p Em 2009, os 4 milhões de reais aprovados foram gastos quase que integralmente. 
					p Já em 2010, valor semelhante (4 milhões de reais) foi aprovado, mas 736 mil reais acabaram sendo utilizados (18%).
					p No ano de 2011, aprovou-se 3 milhões de reais, dos quais gastou-se 387 mil reais (13%).