.page

.subcontent(ui-view autoscroll="false")
	section#introducao.page.flat
		.container.row
			.six.columns.offset-by-three
				h3 Introdução
				h2 A estratégia brasileira de combate ao desmatamento
		.container.row
			.twelve.columns
				iframe(src="http://cf.datawrapper.de/5oBMM/5/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400")
			.six.columns.offset-by-six
				p.legend Área desmatada em km² na Amazônia Legal. * O valor para 2014 é uma projeção do INPE-PRODES.
				p.legend O desmatamento é calculado pelo INPE desde 1988. A taxa oficial atingiu seu pico em 1995, mas voltou a subir em 2002, pressionando o governo a tomar medidas mais eficazes. A partir de 2005, as derrubadas entraram em tendência de queda e atingiram recorde de baixa em 2012.
		.container
			.six.columns.offset-by-three.row
				p Entre agosto de 2002 e julho de 2003, após anos marcados por certa estabilidade nos índices de desmatamento na Amazônia Legal, a taxa de devastação da floresta voltou a subir de maneira dramática. Grandes obras, como o asfaltamento da rodovia Cuiabá-Santarém (BR-163), além do boom das commodities agropecuárias, impulsionavam as derrubadas. O que já era ruim – tendo em vista que os índices não eram baixos no período anterior –, acabava de piorar.

				p Para evitar que uma tendência de alta se consolidasse, o governo recém-empossado do presidente Luís Inácio Lula da Silva (PT) criou um 
					span(gpti) Grupo Permanente de Trabalho Interministerial (GPTI)
					| , composto por 15 ministérios com políticas endereçadas à Amazônia e com a finalidade de propor e coordenar ações que visavam à redução dos índices de desmatamento na região.

				p O grupo, sob coordenação da Casa Civil da Presidência da República, inaugurou uma nova etapa, a partir da qual Brasília parece reconhecer que o desmatamento tem causas complexas e só pode ser combatido se todo o governo estiver envolvido – e não apenas o Ministério do Meio Ambiente ou órgãos ambientais como o Ibama.

			.row
				.four.columns.offset-by-two
					p
						| Em 2004, em face à segunda maior alta na série histórica do índice de desmatamento, e como resultado das discussões no Grupo de Trabalho Interministerial, o governo lançou sua estratégia oficial de combate à devastação: o 
						strong Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm)
						| .
				.six.columns
					.pre-connect
						yt-audio(video-id="59N5ihyK51c" title="Mauro Oliveira Pires" content="Lorem ipsum dolor sit amet lorem ipsum dolor")

		.dark
			.container
				.six.columns
					p.big O PPCDAM foi estruturado em 
						strong três eixos temáticos
						| , que recebem orçamentos independentes e tem como principal atribuição o direcionamento da ação governamental:

		eixos-summary

		//
			p **
				a(href="http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf" rel="external" target="_blank") http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf