.page

.subcontent(ui-view autoscroll="false")
	section#introducao.page.flat
		.container.row
			.six.columns.offset-by-three
				h3 Introdução
				h2 A estratégia brasileira de combate ao desmatamento
		.container.row
			.twelve.columns
				iframe(src="http://cf.datawrapper.de/5oBMM/4/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400")
			.six.columns.offset-by-six
				p.legend O desmatamento é calculado pelo INPE desde 1988. A taxa oficial atingiu seu pico em 1995, mas voltou a subir em 2002, pressionando o governo a tomar medidas mais eficazes. A partir de 2005, as derrubadas entraram em tendência de queda e atingiram recorde de baixa em 2012.
		.container
			.six.columns.offset-by-three.row
				p Entre agosto de 2002 e julho de 2003, após anos marcados por certa estabilidade nos índices de desmatamento na Amazônia Legal, a taxa de devastação da floresta voltou a subir de maneira dramática. Grandes obras, como o asfaltamento da rodovia Cuiabá-Santarém (BR-163), além do boom das commodities agropecuárias, impulsionavam as derrubadas. O que já era ruim – tendo em vista que os índices não eram baixos no período anterior –, acabava de piorar.

				p Para evitar que uma tendência de alta se consolidasse, o governo recém-empossado do presidente Luís Inácio Lula da Silva (PT) criou um Grupo Permanente de Trabalho Interministerial (GPTI)*, composto por 15 ministérios com políticas endereçadas à Amazônia e com a finalidade de propor e coordenar ações que visavam à redução dos índices de desmatamento na região.

				p O grupo, sob coordenação da Casa Civil da Presidência da República, inaugurou uma nova etapa, a partir da qual Brasília parece reconhecer que o desmatamento tem causas complexas e só pode ser combatido se todo o governo estiver envolvido – e não apenas o Ministério do Meio Ambiente ou órgãos ambientais como o Ibama.

				p
					| Em 2004, em face à segunda maior alta na série histórica do índice de desmatamento, e como resultado das discussões no Grupo de Trabalho Interministerial, o governo lançou sua estratégia oficial de combate à devastação: o 
					strong Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm)
					| .

		.dark
			.container
				.six.columns
					p.big O PPCDAM foi estruturado em 
						strong três eixos temáticos
						| , que recebem orçamentos independentes e tem como principal atribuição o direcionamento da ação governamental:

		section.eixos-summary
			header
				.container
					.twelve.columns
						ul
							li 
								h3 Ordenamento Fundiário e Territorial
							li
								h3 Monitoramento e Controle Ambiental
							li
								h3 Fomento às Atividades Produtivas Sustentáveis
			section.eixos-content
				ul
					li
						ul
							li a regularização fundiária, o combate à grilagem de terras públicas e o fortalecimento de instrumentos de governança fundiária e gestão do território, viabilizando a implementação de assentamentos diferenciados e adequados à Amazônia;
							li a criação e a consolidação de unidades de conservação;
							li a demarcação e homologação das terras indígenas;
							li a elaboração e implementação do zoneamento ecológico-econômico para subsidiar o ordenamento e a gestão ambiental territorial, orientando o processo de ocupação da região de acordo com suas limitações e potencialidades.
					li
						ul
							li melhoria dos instrumentos de monitoramento, controle, licenciamento e fiscalização ambiental, bem como de novas abordagens de ação integrada;
							li incentivo à regularização ambiental dos imóveis rurais de acordo com o Código Florestal;
							li responsabilização administrativa, civil e criminal pelo desmatamento ilegal, através da cooperação e integração de ações de instituiçõees competentes;
							li prevenção e combate aos incêndios e queimadas nas zonas rurais.
					li
						ul
							li valorização da floresta e de seus recursos por meio do manejo florestal de produtos madeireiros e não-madeireiros;
							li incentivo ao melhor uso de áreas já desmatadas, contemplando inovação tecnológica e sistemas sustentáveis de produção, tais como o manejo de pastagens, sistemas agroflorestais, agricultura ecológica, integração lavoura-pecuária-floresta, recuperação de áreas degradadas e aumento da produtividade;
							li apoio a processos de certificação e de valorização dos produtos oriundos da biodiversidade, por meio da agregação de valor e do incentivo à comercialização.




		//
			.six.columns.offset-by-three.row

				p * Integram o GPTI:

				ul
					li Ministério do Meio Ambiente (MMA);
					li Ministério da Agricultura, Pecuária e Abastecimento (MAPA);
					li Ministério da Ciência, Tecnologia e Inovação (MCTI);
					li Ministério da Defesa (MD);
					li Ministério do Desenvolvimento Agrário (MDA);
					li Ministério do Desenvolvimento, Indústria e Comércio Exterior (MDIC);
					li Ministério da Integração Nacional (MI);
					li Ministério da Justiça (MJ);
					li Gabinete de Segurança Institucional da Presidência da República (GSI/PR);
					li Ministério das Minas e Energia (MME);
					li Ministério dos Transportes (MT);
					li Ministério do Trabalho e Emprego (MTE);
					li Ministério do Planejamento, Orçamento e Gestão (MP);
					li Ministério das Relações Exteriores (MRE);
					li Ministério da Fazenda (MF);
					li Ministério da Pesca e Aquicultura (MPA);
					li Secretaria de Assuntos Estratégicos da Presidência da República (SAE/PR).


				p **
					a(href="http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf" rel="external" target="_blank") http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf