.page

.subcontent(ui-view autoscroll="false")
	section#introducao.page.flat
		.container
			.six.columns.offset-by-three
				h3 Introdução
				h2 Plano de Prevenção e Controle do Desmatamento na Amazônia Legal: a estratégia do governo federal de combate ao desmatamento
		.container
			.six.columns.offset-by-three.row
				p Em 2002, após anos marcados por uma certa estabilidade nos índices de desmatamento na Amazônia Legal, a taxa de devastação da floresta volta a subir de maneira dramática. Grandes obras, como o asfaltamento da BR-163, impulsionam a devastação. O que já era ruim (tendo em vista que os índices não eram baixos no período anterior), acabava de piorar. Para evitar que uma tendência de alta se consolidasse nos anos seguintes, algo precisava ser feito. 

				p Diante do quadro, o novo governo federal cria um Grupo Permanente de Trabalho Interministerial (GPTI)*, composto por 15 ministérios com políticas endereçadas à Amazônia e com a finalidade de propor e coordenar ações que visam à redução dos índices de desmatamento na região. O grupo, sob coordenação da Casa Civil da Presidência da República, inaugura uma nova etapa: pela pela primeira vez, Brasília reconhece que o desmatamento tem causas complexas e só pode ser combatido se todo o governo estiver envolvido e não apenas o Ministério do Meio Ambiente ou órgãos ambientais como o Ibama.**

				p Enfim, em 2004, em face à segunda maior alta na série histórica do índice de desmatamento, e como resultado das discussões no GPTI, o governo federal lança sua estratégia oficial de combate ao cenário na região Norte: o Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm).

				h2 A atuação do PPCDAm

				p O Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia Legal (PPCDAm) foi estruturado em três eixos temáticos, que direcionam a ação governamental. São eles:

				ol
					li Ordenamento Fundiário e Territorial
					li Monitoramento e Controle Ambiental
					li Fomento às Atividades Produtivas Sustentáveis.

				p Desde o início do PPCDAm, foram estabelecidas, pelos órgãos competentes, 
					strong diretrizes estratégicas 
					| para nortear a abrangência das ações que compõem cada item. Ao eixo 
					strong Ordenamento Fundiário e Territorial
					| , por exemplo, cabem:

				ul
					li a regularização fundiária, o combate à grilagem de terras públicas e o fortalecimento de instrumentos de governança fundiária e gestão do território, viabilizando a implementação de assentamentos diferenciados e adequados à Amazônia;
					li a criação e consolidação de unidades de conservação;
					li a demarcação e homologação das terras indígenas;
					li a elaboração e implementação do zoneamento ecológico-econômico para subsidiar o ordenamento e a gestão ambiental territorial, orientando o processo de ocupação da região de acordo com suas limitações e potencialidades.

			.row
				.six.columns

					h3 Diretrizes do eixo 
						strong Monitoramento e Controle Ambiental

					ul
						li melhoria dos instrumentos de monitoramento, controle, licenciamento e fiscalização ambiental  e novas abordagens de ação integrada;
						li incentivo à regularização ambiental dos imóveis rurais de acordo com o Código Florestal;
						li responsabilização administrativa, civil e criminal pelo desmatamento ilegal, através da cooperação e integração de ações de instituiçõees competentes;
						li prevenção e combate aos incêndios e queimadas nas zonas rurais.

				.six.columns

					h3 Diretrizes do eixo 
						strong Fomento às Atividades Produtivas Sustentáveis

					ul
						li valorização da floresta e seus recursos por meio do manejo florestal de produtos madeireiros e não-madeireiros;
						li incentivo ao melhor uso de áreas já desmatadas, contemplando inovação tecnológica e sistemas sustentáveis de produção, como o manejo de pastagens, sistemas agroflorestais, agricultura ecológica, integração lavoura-pecuária-floresta, recuperação de áreas degradadas, aumento da produtividade;
						li apoio a processos de certificação e de valorização dos produtos oriundos da biodiversidade, por meio da agregação de valor e do incentivo à  comercialização

			.twelve.columns.row
				iframe(src="http://cf.datawrapper.de/dPCjt/3/")

			.six.columns.offset-by-three.row

				h2 Visão geral dos principais resultados

				p Durante a execução da primeira e segunda fases do PPCDAm (entre os anos de 2004-2008 e 2009-2011, respectivamente), importantes resultados foram alcançados. No componente 
					strong Ordenamento Territorial e Fundiário
					| , por exemplo, 25 milhões de hectares de floresta foram protegidos graças à criação de Unidades de Conservação (UCs) federais localizadas majoritariamente na frente de expansão do desmatamento. Além disso, foram criados outros 25 milhões de hectares de UCs estaduais e também algumas municipais.

				p No quesito 
					strong Monitoramento e Controle
					| , durante esse mesmo período, foram deflagradas centenas de operações de fiscalização, que resultaram no fechamento de empresas clandestinas de madeira e no desmantelamento de várias quadrilhas responsáveis por esquemas fraudulentos envolvendo recursos florestais. Houve o aperfeiçoamento do sistemas de monitoramento ambiental, o PRODES (digital e com dados disponíveis na internet),  e a criação do DETER, ambos baseados na análise de imagens via satélite. Como efeito do esforço conjunto, a taxa de desmatamento anual sofreu drástica redução, culminando, em 2012, no menor valor histórico da série de monitoramento do INPE.

				p Mas em resposta às ações de controle e monitoramento, os agentes associados ao desmatamento da Amazônia (produtores de madeira, de grãos e pecuaristas) se adaptaram e, por volta de 2009 começou a ficar mais clara uma mudança na dinâmica espacial: enquanto os grandes polígonos diminuíram sua participação no total desmatado, os pequenos polígonos quase não diminuíram, passando assim a ter maior participação relativa.

				p Essa tendência também expôs a dificuldade do governo em avançar no eixo de 
					strong Fomento às Atividades Sustentáveis
					| . O plano de transformar a BR-163 em um polo de exploração regulada de madeira não seguiu adiante e as imediações da rodovia ainda estão entre as porções com as maiores taxas de desmatamento.

				p Além disso, a estratégia de conter os pequenos desmatamentos ocorridos dentro de assentamentos da Reforma Agrária esbarrou nas dificuldades do próprio Incra em promover a regularidade ambiental, enquanto o governo mostrou-se dúbio ao sinalizar sua concordância com a proposta de redução das unidades de conservação no entorno da BR-163, apresentada sobretudo pelos ocupantes e políticos locais.

				p É nesse contexto de mudança na dinâmica do desmatamento que a terceira fase do PPCDAm (2012-2015) se desenrola. Os desafios são prover ações condizentes com o novo cenário e dar eficácia ao eixo de Fomento às Atividades Produtivas Sustentáveis.

			.twelve.columns.row
				iframe(src="http://cf.datawrapper.de/6Glne/1/")

			.six.columns.offset-by-three.row

				p * Integram o GPTI:

				ul
					li Ministério do Meio Ambiente (MMA);
					li Ministério da Agricultura, Pecuária e Abastecimento (MAPA);
					li Ministério da Ciência, Tecnologia e Inovação (MCTI);
					li Ministério da Defesa (MD);
					li Ministério do Desenvolvimento Agrário (MDA);
					li Ministério do Desenvolvimento, Indústria e Comércio Exterior (MDIC);
					li Ministério da Integração Nacional (MI);
					li Ministério da Justiça (MJ);
					li Gabinete de Segurança Institucional da Presidência da República (GSI/PR);
					li Ministério das Minas e Energia (MME);
					li Ministério dos Transportes (MT);
					li Ministério do Trabalho e Emprego (MTE);
					li Ministério do Planejamento, Orçamento e Gestão (MP); 
					li Ministério das Relações Exteriores (MRE); 
					li Ministério da Fazenda (MF);
					li Ministério da Pesca e Aquicultura (MPA);
					li Secretaria de Assuntos Estratégicos da Presidência da República (SAE/PR).


				p ** 
					a(href="http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf" rel="external" target="_blank") http://www.greenpeace.org/brasil/Global/brasil/report/2008/4/desmatamento-na-amaz-nia-o-l.pdf