section#map.page.flat
	.map-title
		.container
			.twelve.columns
				h1 Alertas de desmatamento
	iframe(src="http://cdn.knightlab.com/libs/storymapjs/latest/embed/?url=https://057dd4fc62e7d043e266b5893fa8385e0baf08ca.googledrive.com/host/0B3x0wudPaqDTTW0xVGtUZU9iZGs/published.json")
