section#results.page.flat
	.container
		.six.columns.offset-by-three
			h3 Principais resultados
			h2 Como evoluiu, nos últimos 7 anos, os gastos governamentais para o combate ao desmatamento
		.row
			.six.columns.offset-by-three
				p.legend.italic Em 2007 e 2008, os dois últimos anos da primeira fase do Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia (PPCDAM), tanto os recursos orçados quanto aqueles de fato realizados pelo governo federal atingiram os níveis mais altos. A partir de 2009, quando começou a segunda fase do PPCDAM, os recursos e sua execução foram reduzindo até atingirem o patamar mais baixo em 2012. Ainda que tímidos, os investimento federais ao combate do desmatamento voltaram a subir em 2013 e 2014.

	.row
		#lulavsdilma
			.info
				.container
					.six.columns
						.lula.clearfix
							.ilust-container
								img.ilust(src="/img/lula.png")
							p.label Total de gastos com PPCDAm no segundo mandato de Lula: 
							p.number R$ 6,4 bilhões
					.six.columns
						.dilma.clearfix
							.ilust-container
								img.ilust(src="/img/dilma.png")
							p.label Total de gastos com PPCDAm no primeiro mandato de Dilma
							p.number R$ 1,8 bilhão
			.graph
				.container
					.twelve.columns
						.bars
							.bar.lula
								.bar-item(style="height:50px;")
								.bar-item(style="height:70px;")
								.bar-item(style="height:150px;")
							.bar.dilma
								.bar-item(style="height:20px;")
								.bar-item(style="height:30px;")
								.bar-item(style="height:100px;")

	.container
		.twelve.columns
			iframe(src="http://cf.datawrapper.de/fMcjG/2/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen")