section#results.page.flat
	.container
		.six.columns.offset-by-three
			h3 Principais resultados
			h2 Como evoluíram, nos últimos dois governos, os gastos para o combate ao desmatamento
		.row
			.six.columns.offset-by-three
				p.legend.italic A análise de "A Política do Desmatamento" traz os dados orçamentários dos dois últimos mandatos presidenciais. As informações indicam uma queda acentuada nos investimentos nas medidas de combate ao desmatamento entre o segundo governo de Luís Inácio Lula da Silva e o primeiro de Dilma Rousseff. Ainda assim, graças à manutenção das medidas de repressão à ilegalidade na Amazônia as taxas de desmatamento continuaram em queda.

	.row
		#lulavsdilma
			.info
				.container
					.six.columns
						.lula.clearfix
							.ilust-container
								img.ilust(src="/img/lula.png")
							p.label Total de gastos com PPCDAm no segundo mandato de Lula: 
							p.number R$ 6,4 bilhões
					.six.columns
						.dilma.clearfix
							.ilust-container
								img.ilust(src="/img/dilma.png")
							p.label Total de gastos com PPCDAm no primeiro mandato de Dilma
							p.number R$ 1,8 bilhão
			p.time-range.lula (2007-2010)
			p.time-range.dilma (2011-2014)
			.graph
				.container
					.twelve.columns
						.bars
							.bar.lula
								.bar-item.ordenamento(style="height:13%;")
									.bar-info R$ 819 milhões
								.bar-item.monitoramento(style="height:15%;")
									.bar-info R$ 958 milhões
								.bar-item.fomento(style="height:72%;")
									.bar-info R$ 4,584 bilhões
							.bar.dilma
								.bar-item.gap(style="height:73%;")
									//.bar-info R$ a menos
								.bar-item.ordenamento(style="height:6%;")
									.bar-info R$ 436 milhões
								.bar-item.monitoramento(style="height:11%;")
									.bar-info R$ 702 milhões
								.bar-item.fomento(style="height:10%;")
									.bar-info R$ 637 milhões
			.container
				.twelve.columns
					p.graph-legend
						span.ordenamento Ordenamento
						span.monitoramento Monitoramento
						span.fomento Fomento

	.container
		.row
			.six.columns.offset-by-three
				p.legend.italic Em 2007 e 2008, os dois últimos anos da primeira fase do Plano de Ação para a Prevenção e Controle do Desmatamento na Amazônia (PPCDAM), tanto os recursos orçados quanto aqueles de fato realizados pelo governo federal atingiram os níveis mais altos. A partir de 2009, quando começou a segunda fase do PPCDAM, os recursos e sua execução foram se reduzindo até atingirem o patamar mais baixo em 2012. Ainda que tímidos, os investimentos federais ao combate do desmatamento voltaram a subir em 2013 e 2014.
		.row
			.twelve.columns
				iframe(src="http://cf.datawrapper.de/fMcjG/3/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen")
		.row
			.six.columns
				p.featured Em seu primeiro mandato, Dilma Rousseff gastou menos de um terço (3,6 vezes menos) do valor investido no segundo mandato de Lula no combate ao desmatamento na Amazônia.
			.six.columns
				.featured-understand
					h3 Entenda
					p Apesar de ter alcançado as menores taxas de desmatamento desde 1988, Dilma Roussef herdou uma situação menos dramática do que aquela encontrada por Luís Inácio Lula da Silva no início de 2003. As mudanças no Código Florestal; a redução (ao invés de aumento) no tamanho das Unidades de Conservação para permitir a construção de hidrelétricas no Tapajós (em janeiro de 2012, o governo federal excluiu 91,3 mil hectares de sete unidades de conservação, cinco delas nessa região); a paralisação da demarcação de Terras Indígenas; e a "pauperização" dos órgãos ambientais (ICMBio, Funai e Serviço Florestal Brasileiro em particular) marcaram a política de Dilma para as florestas.
					p  Tal quadro refletiu diretamente no investimento orçamentário, que caiu aos patamares mais baixos dos governos petistas (o PPCDAm teve início na metade do primeiro mandato de Lula). De acordo com especialistas, o baixo investimento parece ter relação com o aumento do desmatamento verificado em 2013. Felizmente, a primeira alta em quatro anos foi estancada em 2014 com a liberação de recursos para a fiscalização (confira os índices anuais de desmatamento aqui).
		.row
			.twelve.columns
				p Diferenças no desmatamento entre o governo Lula e Dilma
				.graph
					p.graph-legend
						span.lula Lula
						span.dilma Dilma
					iframe(src="http://cf.datawrapper.de/IoNno/1/" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="600" height="400")
		.row
			.six.columns
				.row
					p.featured Dilma investiu 7 vezes menos do que Lula no desenvolvimento de atividades sustentáveis na Amazônia.
				span(yt-audio video-id="JXT01cWHmTo" title="Mauro Oliveira Pires" content='"O maior desafio é fomentar o desenvolvimento de atividades sustentáveis"' block="1")
			.six.columns
				.featured-understand
					h3 Entenda
					p Gastos com sustentabilidade caíram de 4,6 bilhões de reais no segundo mandato de Lula para 638 milhões de reais no primeiro governo Dilma.
					p O investimento em atividades sustentáveis, aliado a ações de ordenamento territorial e fundiário, é visto como solução duradoura para superar o corte ilegal de nossas florestas. O pleno alcance da meta de redução de 80% do desmatamento até 2020 depende de investimentos na transição de práticas econômicas predatórias para aquelas que considerem a manutenção da floresta em pé e o melhor aproveitamento das áreas já desmatadas. Essa recomendação consta da avaliação do PPCDAm feita conjuntamente pela CEPAL (ONU), IPEA e GIZ em 2011, mas ainda pouco implementada pelo atual governo.

		.row
			.six.columns.offset-by-three
				h2(yt-audio video-id="EkPbIX1t4UM" title="Mauro Oliveira Pires" content='"Política pública que \'atravessou\' o mandato de três ministros do meio ambiente"') Visão geral dos principais desafios e resultados do PPCDAm

				p Durante a execução da primeira e segunda fases do Programa (entre os anos de 2004-2008 e 2009-2011, respectivamente), importantes resultados foram alcançados. No componente 
					strong Ordenamento Territorial e Fundiário
					| , por exemplo, 25 milhões de hectares de floresta foram protegidos graças à criação de Unidades de Conservação (UCs) federais localizadas majoritariamente na frente de expansão do desmatamento. Além disso, foram criados outros 25 milhões de hectares de UCs estaduais e também algumas municipais.

				p No quesito 
					strong Monitoramento e Controle
					| , durante esse mesmo período, foram deflagradas centenas de operações de fiscalização, que resultaram no fechamento de empresas clandestinas de madeira e no desmantelamento de várias quadrilhas responsáveis por esquemas fraudulentos envolvendo recursos florestais. Dados do Ibama indicam que, entre 2007 e 2014, em todos os nove estados da Amazônia Legal, as operações de grande porte (em parceria com outras instituições do governo) e as ações rotineiras protagonizadas por fiscais do órgão resultaram, entre autos de infração lavrados e multas aplicadas, em 41 mil autuações. Somadas, elas atingem o valor de 17,4 bilhões de reais. 

				p Houve, também, o aperfeiçoamento do sistema de monitoramento ambiental, o Prodes (digital e com dados disponíveis na internet), e a criação do Deter, ambos baseados na análise de imagens via satélite. 
					span(yt-audio video-id="2IcAUilRjUA" title="Mauro Oliveira Pires" content='"O maior avanço foi acabar com a falta de controle sobre o desmatamento"') Como efeito do esforço conjunto, a taxa de desmatamento anual sofreu drástica redução, culminando, em 2012, no menor valor histórico da série de monitoramento do INPE.

			.six.columns.offset-by-three
				p Mas, em resposta às ações de controle e monitoramento, os agentes associados ao desmatamento da Amazônia (produtores de madeira, de grãos e pecuaristas) se adaptaram e, por volta de 2009, começou a ficar mais clara uma mudança na dinâmica espacial: enquanto os grandes polígonos diminuíram sua participação no total desmatado, os pequenos polígonos quase não diminuíram, passando assim a ter maior participação relativa.

				p Essa tendência expôs também a dificuldade do governo em avançar no eixo de 
					span(yt-audio video-id="Att7U_XA-iM" title="Mauro Oliveira Pires" content='"O manejo ainda não é capaz de fomentar uma economia florestal"') Fomento às Atividades Sustentáveis
					| . O plano de transformar a BR-163 em um polo de exploração regulada de madeira não seguiu adiante e as imediações da rodovia ainda estão entre as porções com as maiores taxas de desmatamento. 
					span(yt-audio video-id="aAlsa7ojplU" title="Mauro Oliveira Pires" content='"Com o passar dos anos, o plano perdeu importância política"' yt-audio-left="1") Os investimentos em sustentabilidade na Amazônia caíram vertiginosamente, conforme indicam os destaques acima.

				p Além disso, a estratégia de conter os pequenos desmatamentos ocorridos dentro de assentamentos da Reforma Agrária esbarrou nas dificuldades do próprio Instituto Nacional de Colonização e Reforma Agrária (Incra) em promover a regularidade ambiental, enquanto o governo mostrou-se dúbio ao sinalizar sua concordância com a proposta de redução das unidades de conservação no entorno da BR-163, apresentada sobretudo pelos ocupantes e políticos locais.

				p É nesse contexto de mudança na dinâmica do desmatamento que a terceira fase do PPCDAm (2012-2015) se desenrola. Os desafios são prover ações condizentes com o novo cenário e dar eficácia ao eixo de Fomento às Atividades Produtivas Sustentáveis. Uma tarefa bastante árdua, sobretudo porque a terceira fase do Programa caminha para seu derradeiro ano de execução.

	next-page(ref="analise.fase1" title="1ª fase")
