@media screen and (max-height: 700px) {
	.timeline-item {
		.timeline-content {
			.timeline-header {
				float: left;
				margin-right: 40px;
			}
			.timeline-contents {
				margin-left: 320px;
				//float: left;
			}
		}
	}
}

@media screen and (max-height: 662px) and (max-width: 1140px) {
	#masthead section p:first-child {
		font-size: 16px;
		line-height: 20px;
	}
	#masthead.middle section p:first-child {
		display: block;
	}
}

@media screen and (max-width: 770px) {
	.ios {
		&.paused {
			#masthead,
			#content {
				pointer-events: none;
			}
		}
		.video-container {
			.front-image {
				display: none;
			}
		}
	}
	#masthead {
		top: 10px;
		&.middle {
			top: 6%;
			margin-top: 0;
		}
		&.fixed {
			h1 {
				font-size: 14px;
			}
			h2 {
				display: none;
			}
			nav {
				display: none;
				&.mobile {
					display: block;
					.mobile-nav-content {
						width: auto;
						position: fixed;
						top: 50px;
						left: 0;
						right: 0;
					}
				}
			}
		}
		h1 {
			font-size: 30px;
		}
		section {
			padding-left: 0;
			padding-right: 0;
			p {
				font-size: 16px;
				line-height: 20px;
			}
			.start-timeline {
				font-size: 14px;
			}
		}
	}
	#timeline-nav {
		padding: 10px 0;
		nav.pre {
			margin: 0 -20px 20px;
			width: auto;
			a {
				font-size: 11px;
				&:after {
					width: 5px;
					height: 5px;
					margin: 8px auto 0;
				}
			}
			&:after {
				display: none;
			}
		}
	}
	.video-container {
		.front-image {
			background-image: url(../img/front_bg.jpg);
			background-position: center;
			background-size: cover;
		}
	}
	#mastfoot {
		display: none;
	}
	.timeline-item {
		.timeline-content {
			.timeline-header {
				float: none;
				margin: 0 0 20px;
				h2 {
					font-size: 22px;
				}
				h3.subtitle {
					font-size: 16px;
					margin: 0;
				}
			}
			section.timeline-contents {
				margin: 0;
				p {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
	#video-controls {
		bottom: 160px;
		#next {
			display: none;
		}
	}
	.yt-audio {
		.yt-audio-text {
			font-weight: inherit;
			border-bottom: 0;
		}
		.yt-audio-container {
			display: none;
		}
	}
	#content {
		iframe {
			height: 300px;
		}
		.subcontent {
			height: calc(~"100% - 47px");
		}
		.embedded-map {
			width: auto;
			margin-left: 40px;
			height: 300px;
		}
		.tendency-table {
			thead td {
				vertical-align: bottom;
			}
			thead td,
			td {
				width: 1% !important;
				padding: 10px;
				font-size: 14px !important;
				line-height: 18px !important;
				[class^="icon-"], [class*=" icon-"] {
					margin-left: 5px;
				}
			}
		}
		.dark {
			padding: 20px 0;
		}
		p.big {
			font-size: 22px;
		}
	}
	#orcadovsrealizado {
		.bars {
			.bar-item {
				font-size: 12px;
			}
		}
	}
}